.footer {
    z-index: $footer-z;
    display: block;
    clear: both;
    position: absolute;
    width: 100%;
    width:100vw;
    height: $footer-height;
    bottom: 0;
    margin-top:50px;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    background-color:$footer-background-color;
    color:$footer-font-color;
    @include transition(.4s);
    overflow-x:hidden;
    &.menu-open {
        @include transform(translateX(-$mobile-menu-width));
        opacity: 0.5;
    }
    .footer-navigation {
        @include display(flex);
        @include MQ(MMAX){
            @include flex-direction(row);
            @include justify-content(center);
        }
        @include flex-direction(row);
        @include justify-content(flex-end);
        @include align-items(center);
        height:$footer-height;
        position: absolute;
        bottom: 0;
        background-color: $footer-background-color;
        width: 100%;
        li{
            margin-left:10px;
            &:last-child{
                margin-right:10px;
            }
        }
    }
}
