//HOME PAGE SPECIFIC STYLES
.featured-article {
    @include display(flex);
    @include flex-direction(column-reverse);
    @include justify-content(center);
    @include background(center no-repeat);
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 50vh;
    margin: {
        top: 0;
        bottom: 0;
    }
    padding: {
        top: 0;
        bottom: 0;
    }
    .article-details {
        padding-left: 1em;
        .article-title {
            font-family:'Playfair Display';
            @include MQ(M){
                color:darken($base-font-color,20%);
                width:40vw;
                background-color:white;
                padding:2vw;
                opacity:0.8;
            }
            .title {
                font-size: 2.2em;
                margin-bottom:.5em;
            }
            .subtitle {
                font-size: 1.2em;
            }
        }
        .read-link {
            display: block;
            font-size: $base-font-size;
            color: $header-anchor;
            margin-right: auto;
            margin-left: auto;
            width: 5em;
            padding: .5em;
            background-color: $read-button-background-color;
        }
    }
    .article-date {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: .5em;
        background-color: $article-date-background-color;
    }
    @include MQ(M) {
        height:calc(50vh - # {
            $homepage-image-offset
        }
        );
        @include transition(.5s);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
}

.other-articles {
    margin-top: 0px;
    padding-top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .other-article {
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        a {
            .post-information {
                position: absolute;
                color: $base-font-color;
                display: block;
                bottom: 0;
                width: 100vw;
                background-color: white;
            }
        }
    }
    @include MQ(M) {
        margin: {
            top: 0;
            bottom: 0;
        }
        padding: {
            top: 0;
            bottom: 0;
        }
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        height:calc(50vh - #{$homepage-image-offset});
    }
}
