html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:$body-font-family;
}

// MEDIA QUERY MIXIN AND LAYOUT

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
  @else if $canvas == XL {
    @media only screen and (min-width: $XL) { @content; }
  }
  @else if $canvas == retinaPortrait {
    @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-device-width:375px),(max-device-width:736),(orientation: landscape) { @content }
  }
}

// very light grid

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

