// FORMS
h1.form-heading-1 {
    line-height: 3rem;
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    width: 100%;
    font-size: 1.5rem;
    background: $form-header-background;
    color: $form-header-font-color;
    line-height: 150%;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
form.contact-form {
    -webkit-transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
            transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    box-sizing: border-box;
    position: fixed;
    top: 90px;
    right: 0px;
    background-color: $light-base;
    width: 260px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    h1.form-heading-1 {
        box-sizing: border-box;
        padding: 20px;
        margin-top: 0px;
        text-align: center;
        vertical-align: middle;
    }
}
input.material-form::-webkit-input-placeholder {
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    font-size: 11px;
}

input.material-form {
    margin: 40px 25px;
    width: 200px;
    display: block;
    border-radius:0;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px $primary;
    -webkit-transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
            transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, $primary 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $primary 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: $form-font-color;
    &:focus, &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: $primary;
            font-size: 11px;
            -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}



button.form-button {
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    border: none;
    font-size: 1rem;
    background: $primary;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: $light-base;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    &:hover {
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    }
}

//articles
