nav.article-pagination {
    display:none;
    ul.pagination {
        display: table;
        clear: both;
        text-align: center;
        margin: 10px auto 15px auto;
        li {
            @include transition(.2s);
            display: inline;
            float: left;
            width: $pagination-button-width;
            height: $pagination-button-height;
            line-height: $pagination-button-height;
            vertical-align: middle;
            background-color: $pagination-button-background-color;
            &.active {
                background-color: $pagination-button-background-color-active;
                a {
                    cursor: default;
                }
            }
            &:not(.active):hover {
                background-color: $pagination-button-background-color-hover;
            }
            &:first-child {
                border-radius: $pagination-button-border-radius 0px 0px $pagination-button-border-radius;
            }
            &:last-child {
                border-radius: 0px $pagination-button-border-radius $pagination-button-border-radius 0px;
            }
        }
    }
}
