//SEARCH
//
//
input[type="search"]{
    outline:none;
    &:focus{
        outline:none;
    }
    &:active{
        outline:none;
    }
}
//BEGIN SWIFTYPE
#search-icon svg {
    display: none;
    @include MQ(M) {
        display: block;
        position: absolute;
        fill: $header-anchor;
        margin: 0;
        padding: 0;
        top: $logo-size/4;
        right: $logo-size/4;
        height: $logo-size;
        .magnifying-glass {
            fill: $header-anchor;
        }
    }
}

#st-search-input {
    border-radius: 0;
    outline:0;
    border:0;
}
#st-search-input:focus{
    outline:0;
}

.search-wrap {
    @include transition(.4s);
    display: block;
    z-index: -1;
    opacity: 0;
    position: fixed;
    top: $header-mplus-height;
    left: 0;
    background-color: $search-overlay-color;
    width: 100%;
    height: 100%;
    &.search-open {
        opacity: $search-overlay-transparency;
        z-index: 99;
    }
    #st-search-input {
        @include appearance(none);
        @include placeholder {
            color: $base-font-color;
            opacity: .7;
        }
        @include appearance(none);
        @include backface-visibility(hidden);
        z-index:99;
        display:block;
        font-size:2em;
        width:60%;
        min-width:600px;
        margin-right:auto;
        margin-left:auto;
        margin-top:80px;
        outline:none;
        border:none;
        background-color: $search-overlay-color;
        border-bottom:2px solid $logo-color;
        &:focus {
            outline: 0px solid transparent;
            @include appearance(none);
            @include backface-visibility(hidden);
        }
    }
    &.search-open{
        opacity:.9;
        z-index:99;
    }
}

#search-results {
    overflow-y: scroll;
    @include MQ(MMAX) {
        position: absolute;
        top: $mobile-navigation-height + $header-mplus-height;
    }
}
