//SEARCH
//This module is designed to work with swiftype
#search-icon svg {
    display: none;
    @include MQ(M) {
        display: block;
        position:absolute;
        fill:$header-anchor;
        margin:0;
        padding:0;
        top:$logo-size/4;
        right:$logo-size/4;
        height: $logo-size;
        .magnifying-glass{
            fill:$header-anchor;
        }
    }
}

//SWIFTYPE SEARCH INPUT
.main-navigation input {
    @include transition(.4s);
    width: 100%;
    background-color: white;
    outline: none;
    border-radius: none;
    &:focus {
        outline: none;
    }
}

#st-search-input {
    transition: transform .4s ease-in-out;
    width: 100%;
    border-radius: 0px;
    height: 30px;
}

#st-results-container {
    width: $mobile-menu-width;
    font-size: 12px;
    padding-left: 0px;
    border-radius: 0px;
    img {
        width: 0;
        padding: 0;
        margin: 0;
        display: none;
        padding: -50px;
    }
}

.autocomplete {
    ul {
        border-radius: 0px;
        li {
            border-radius: 0px;
            border: none;
            outline: none;
        }
    }
}

.swiftype .st-result-listing .st-search-summary h2 {
    color: $header-anchor!important;
    strong {
        color: $logo-color!important;
        font-size: 1.1em!important;
    }
    span.st-query {
        color: $logo-color!important;
    }
}

.st-search-summary {
    color: $header-anchor;
}

.st-snippet {
    width: 240px!important;
    em {
        font-weight: bold;
        color: $logo-color;
        text-transform: uppercase;
    }
}

.st-result.with_image {
    @include transform(translateX(-50));
}

a.st-search-result-link {
    width: 240px!important;
    padding: 0px;
    margin: 0px;
}

.st-result-text {
    h3 a {
        @include transform(translateX(-100px));
        &:hover {
            color: $logo-color;
        }
    }
}

.st-metadata {
    transform: translateX(-95px);
    width: 240px;
    span.st-snippet {
        color: white!important;
        width: 240px!important;
    }
}
