//HC COLORS
$healthy-children-green:#AEC736;
$healthy-children-red:#DC4C20;
$healthy-children-peach:#f9b964;
$healthy-children-yellow:#E9B424;
$healthy-children-brown:#5C4727;
$healthy-children-tan:#FCFBF1;

//HC TYPOGRAPHY
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
$sans-serif:Arial,Helvetica,sans-serif;
$serif:'Arvo',Georgia,serif;
$body-font-family:$healthy-children-brown;
$body-background-color:$healthy-children-tan;
$header-font-weight:400;
$header-color:$healthy-children-brown;

//COLOR CHANGES
$read-button-background-color:$healthy-children-peach;
$primary-button-color-hover:$healthy-children-red;

//HEADER
$header-anchor:$healthy-children-brown;

//PRIMARY NAVIGATION
$primary-navigation-text-transform:none;
%primary-navigation-link-hover{
	border-bottom:5px solid $healthy-children-red;
}

//GLOBALS
$site-name:'Healthy Children Blog';
$logo-color:$healthy-children-red;
$home-logo-background-image:'/static/images/hc-logo-no-tag.svg';
$home-logo-background-color:transparent;
$home-logo-border-radius:10px;
$home-logo-hover-background:clear;

//HOME PAGE OVERRIDES
$button-right:0;
$header-background-color:#FCFBF1;
$footer-background-color:$header-background-color;
$serif:'Argo',Georgia,serif;
$article-date-background-color:$healthy-children-yellow;
$article-title-block-border-radius:0px;
$read-button-border-bottom-right-radius:0px;
$read-button-fixed-bottom:-43px;
$home-article-titles:'Arvo',Georgia,serif;
$home-header-color:$header-color;

//SEARCH
$search-overlay-color:$healthy-children-tan;
$search-overlay-transparency:0.9;



