//MEDIA QUERY BREAKPOINTS
   
$S:     480px;   
$M:     768px;     
$L:     800px;
$XL:    1180px;


//TYPOGRAPHY
$base-font-size:16px;
$serif:'Playfair Display',Georgia,serif;
$sans-serif:'Raleway',Arial,Helvetica,sans-serif;
$heading-font-family:$serif;
$body-font-family:$sans-serif;

//COLORS
$base-font-color:#333333;
$logo-color:darken(#01589B,10%);
$accent:tomato;
$button-color:$logo-color;
$read-button-background-color:$button-color;
$article-date-background-color:$accent;



//PAGE COMPONENT SIZES
$logo-size:30px;
$header-mplus-height:$logo-size * 1.5;
$header-background-color:#333333;
$header-anchor:white;
$base-font-color:#333333;
$footer-background-color:$header-background-color;
$footer-font-color:white;

//Z-INDEX:
$header-z:5;
$logo-z:6;
$main-z:3;
$mobile-menu-icon-z:10;

//MOBILE MENU
$mobile-menu-width:250px;

//HOME PAGE
// //The following is used to calculate the image height for M+ screens
$homepage-image-offset:$header-mplus-height/2;


//SITE NAME:
$site-name:'Ryan Watters';