//MEDIA QUERY BREAKPOINTS   
$S:     480px;   
$M:     768px;
$MMAX:  $M;     
$L:     800px;
$XL:    1180px;

//GLOBALS
$site-name:'Ryan Watters';
$home-logo-background-image:'/static/images/site-logo.svg';
$home-logo-hover-background:clear;

//TYPOGRAPHY
// $serif:'Abril Fatface',Georgia,serif;
// $sans-serif:'Raleway',Arial,Helvetica,sans-serif;
// $sans-serif:'Open Sans',Arial,Helvetica,sans-serif;
// $serif:'Playfair Display',Georgia,serif;
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
$sans-serif:Arial,Helvetica,sans-serif;
$serif:'Arvo',Georgia,serif;
$base-font-size:16px;
$base-line-height:$base-font-size * 1.5;
$heading-font-family:$serif;
$header-font-weight:bold;
$body-font-family:$sans-serif;

//PRIMARY NAVIGATION
$primary-navigation-text-transform:uppercase;
%primary-navigation-link-hover{
	border-bottom:0px solid $base-font-color;
}

//COLORS
$base-font-color:#242526;
$body-background-color:#95AFBA;
$logo-color:#3F7CAC;//This is the 'primary' color for the site.
$home-logo-background-color:$logo-color;
$header-background-color:#343A40;
$header-anchor:white;
$header-anchor-hover:$logo-color;
$accent:#7C6C77;
$accent-button-color:$accent;
$accent-button-color-hover:darken($accent-button-color,20%);
$primary-button-color:$logo-color;
$primary-button-color-hover:darken($primary-button-color,20%);
$mobile-toggle-button-color:$header-background-color;

//SEARCH
$search-overlay-color:white;
$search-overlay-transparency:0.9;

//MAIN COMPONENT SIZES
$logo-size:30px;
$header-mplus-height:$logo-size * 1.5;
$search-desktop-height:100vh;
$search-desktop-width:50vw;
$search-desktop-centering:(100 - $search-desktop-width) / 2;
$footer-height:$header-mplus-height;
$footer-background-color:$header-background-color;
$footer-font-color:white;
$home-logo-border-radius:50%;

//Z-INDEX
$body-z:0;
$header-z:4;
$main:1;
$main-article:1;
$footer-z:2;
$logo-z:6;
$main-z:3;
$mobile-menu-icon-z:10;
$highest:11;
$button-and-badge:$highest * 1.5;
$search-form-z:11;
$search-input-z:99;

//MOBILE MENU
$mobile-menu-width:100%;
$search-results-font-size-mobile:12px;
$mobile-navigation-height:200px;

/*BUTTONS*/
$button-overlap:-.5em;
//mobile-buttons--to keep center, only change the first value (width)
$mobile-button-width:40%;
$mobile-button-max-width:200px;
$mobile-button-margin: (100% - $mobile-button-width)/2;

//HOME PAGE
//The following is used to calculate the image height for M+ screens
//HOMEPAGE SPECIFICS
$home-article-title-background-color:white;
$home-article-titles:$sans-serif;
$home-article-subtitles:$body-font-family;
$home-title-block-opacity:0.9;
$home-header-color:$base-font-color;
$homepage-image-offset:$header-mplus-height / 2;
$article-date-background-color:$accent-button-color;
$article-title-block-border-radius:10px;
$read-button-border-bottom-right-radius:$article-title-block-border-radius;
$read-button-font-size:$base-font-size;
$read-button-fixed-right:0;
$read-button-fixed-bottom:0;
$read-button-background-color:$primary-button-color;
$read-button-border-bottom-right:$article-title-block-border-radius;