@import 'bourbon/bourbon';
@import 'basic-grid';
@import 'variables';
// @import 'theme';
@import 'search';
@import 'footer';
@import 'pagination';
@import 'print';
//MOBILE-ONLY MAIN MENU/HEADER. NOT NEEDED IN CRP FOR MOBILE SCREENS
.primary-navigation {
    @include MQ(MMAX) {
        margin-top: 10px;
        ul {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            li:after {
                width: 50%;
                display: block;
                margin-right: auto;
                margin-left: auto;
                border-bottom: 1px solid #cccccc;
            }
        }
    }
}

// MOBILE MENU CLICKED STATE - FOR BASE STYLES, SEE MENU-ICON.SCSS
.menu-open {
    .menu-icon-inner {
        background: none;
        &::before, &::after {
            top: $mobile-icon-layer-height * 2;
            background: $mobile-icon-color-inner;
        }
        &::before {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            background: $mobile-icon-color-inner;
        }
        &::after {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: $mobile-icon-color-inner;
        }
    }
}

.svg-spinner-wrapper {
    width: 100%;
    width:100vw;
    height: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 99999;
    svg#spinner {
        position: fixed;
        left: 30%;
        bottom: $footer-height + 20px;
        width: 40%;
        height:60px;
        z-index: 99999;
        fill: $svg-spinner-color;
    }
}

#disqus_thread {
    position:relative;
    display:block;
    clear:both;
    width:100%;
    padding-right:5%;
    padding-left:5%;
    opacity:1!important;
    background-color:$full-article-main-element-background-color!important;
    z-index:99;
    margin-right: auto;
    margin-left: auto;   
    @include MQ(M){
        width:100%;
        max-width: $full-article-max-width;
        padding:{
            left:15px;
            right:15px;
        }
    }
}
