@import 'critical-render-path/bourbon/bourbon';
@import 'critical-render-path/basic-grid';
@import 'critical-render-path/variables';
@import 'below-the-fold/search';
@import 'below-the-fold/footer';
@import 'below-the-fold/pagination';
@import 'below-the-fold/_article_below_the_fold.scss';
@import 'below-the-fold/_homepage_below_the_fold.scss';
// MOBILE MENU CLICKED STATE - FOR BASE STYLES, SEE MENU-ICON.SCSS
.menu-open {
    .menu-icon-inner {
        background: none;
        &::before, &::after {
            top: $mobile-icon-layer-height * 2;
            background: $mobile-icon-color-inner;
        }
        &::before {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            background: $mobile-icon-color-inner;
        }
        &::after {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: $mobile-icon-color-inner;
        }
    }
}

.svg-spinner-wrapper {
    width: 100%;
    width:100vw;
    height: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 99999;
    svg#spinner {
        position: fixed;
        left: 30%;
        bottom:  140px;
        width: 40%;
        height:60px;
        z-index: 99999;
        fill: $svg-spinner-color;
    }
}