body {
	background-color:#01589B!important;
}

#ember980 > div > h2 {
	color:#01589B;
}

span.icon-vim, span.icon-vim-togdgle {
	display:none;
	&:before {
		display:none;
	}
	&:after {
		display:none;
	}
}

#ember407 {
	background-color:#01589B;
}

.something{
	color:blue;
}

.wh-logo{
	background-image:url('/static/images/site-logo.svg')!important;
	background-size:cover!important;
	background-color:white!important;
}