@import 'variables';
body {
	background-color:$login-background-color;
}
#ember980 > div > h2 {
	color:$primary-brand;
}
span.icon-vim, span.icon-vim-togdgle {
	display:none;
	&:before {
		display:none;
	}
	&:after {
		display:none;
	}
}
#ember407 {
	background-color:$login-background-color;
}
.something{
	color:blue;
}

.wh-login {
	background-color:$login-background-color;
	form label{
		color:$login-font-color;
	}
	.btn-small{
		color:$login-font-color;
	}
}



.wh-lang-select + .wy-text-center.wy-text-small{
	display:none;
}

.wh-logo {
	background-image:$cms-logo-background-image;
	background-size:cover;
	background-color:white;
	border:0px;
}

.wh-updates {
	@if $hide-updates == true {
		display:none;
	}
}