@import 'critical-render-path/crp';

body{
    background-color:$list-page-background-color;
}

.information-header {
    @include display(flex);
    width: 100%;
    background-color: $full-width-header-background-color;
    color: $full-width-header-font-color;
    margin-top: 0px;
    padding-bottom: 1.5em;
    .introduction {
        width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        @include MQ(XL) {
            padding-right: 0%;
            padding-left: 0%;
            margin-right: auto;
            margin-left: auto;
            max-width: $XL;
        }
        h1 {
            background: transparent;
            display: block;
            clear: both;
            font: $article-title-font;
            padding-top: $base-font-size;
            margin-bottom: 5px;
            margin-top: 0px;
            @include MQ(M) {
                margin-top: 0px;
                font-size: $base-font-size * 3.2;
                padding-top: $base-font-size * 2;
            }
        }
        .description {
            display: none;
            @include MQ(M) {
                display: block;
            }
        }
    }
}

article {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    margin-bottom: $footer-height;
    margin-right: auto;
    margin-left: auto;
    background-color: $list-page-background-color;
    width: 90%;
    @include MQ(XL) {
        width: 100%;
        max-width: $XL;
    }
}

ul.list {
    width: 100%;
    @include display(flex);
    @include flex-wrap(wrap);
    clear:both;
}

li.list-item {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-start);
    position: relative;
    float: left;
    width: 100%;
    border: $tile-border;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    .featured {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 5px;
        background-color: $featured-background-color;
        color: $featured-font-color;
        font-weight: bold;
    }
    margin-top: 20px;
    background-color:$tile-background-color;
    @include MQ(M) {
        width: 49%;
        margin-right: 2%;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @include MQ(L) {
        width: 32%;
        margin-right: 1.3333%;
        &:nth-child(2n) {
            margin-right: 1.3333%;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @include MQ(HUGE) {
        width: 22%;
        margin-right: 4%;
        &:nth-child(2n) {
            margin-right: 4%;
        }
        &:nth-child(3n) {
            margin-right: 4%;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    .information {
        position: relative;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        h3 {
            text-align: center;
        }
        p {
            margin: 0px auto $base-font-size auto;
            &:last-child {
                margin-bottom: 25px;
            }
        }
    }
}

.channel {
    @include align-self(flex-end);
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: $base-font-size * 1.5;
    a {
        @include transition($base-transition);
        font-weight: bold;
        vertical-align: middle;
        display: inline-block;
        border-bottom: $article-anchor-underline;
        &:hover {
            border-bottom: $article-anchor-underline-hover;
        }
    }
}

.category {
    @include transition($base-transition);
    position: absolute;
    top: 0;
    left: 35px;
    color: $base-font-color-inverse;
    font-size: $base-font-size;
    line-height: 28px;
    border: 3px solid $body-background-color;
    background-color: $category-button-background-color;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 5;
    @include transform(translateY(-$read-more-button-height / 1.5));
    a {
        z-index: 10;
        text-transform: $category-text-transform;
    }
    &:hover {
        background-color: $category-button-background-color-hover;
    }
    .category-article-total {
        float: right;
    }
}
//Channel icons for video-library if not using "cube portfolio"
.youtube-icon,
.vimeo-icon {
    display: inline-block;
    height: $base-font-size;
    width: $base-font-size;
    line-height: $base-font-size * 1.5;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.vimeo-icon {
    background-image: url('/static/images/vimeo.svg');
}

.youtube-icon {
    background-image: url('/static/images/youtube.svg');
}

.head {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }
    .video-library-play-button {
        width: 30%;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        top: 23%;
        left: 33%;
        svg {
            @include transition(.4s);
            fill: $video-player-play-button-color;
            opacity: $video-player-play-button-opacity;
            &:hover {
                fill: $video-player-play-button-color-hover;
                opacity: $video-player-play-button-opacity-hover;
            }
        }
    }
}