@import 'critical-render-path/crp';
.list-introduction {
    @include display(flex);
    @include flex-direction(column);
    position: relative;
    width: 100%;
    background-color: $full-width-header-background-color;
    color: $full-width-header-font-color;
    margin-top: 0px;
    padding-bottom: 1.5em;
    height: auto;
    .introduction {
        width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        @include MQ(XL) {
            padding-right: 0%;
            padding-left: 0%;
            margin-right: auto;
            margin-left: auto;
            max-width: $XL;
        }
        ul.breadcrumb {
            display: inline;
            li {
                display: inline;
                h1 {
                    small {
                        font-size: .5em;
                    }
                    background: transparent;
                    display: inline-block;
                    font: $article-title-font;
                    padding-top: $base-font-size;
                    margin-bottom: 5px;
                    margin-top: 0px;
                    @include MQ(M) {
                        margin-top: 0px;
                        font-size: $base-font-size * 3.2;
                        padding-top: $base-font-size * 2;
                    }
                }
            }
        }
        .description {
            display: none;
            @include MQ(M) {
                display: block;
            }
        }
    }
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    @include MQ(M) {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        max-width: $XL;
    }
}

.author-photo {
    width: 100%;
    img.author {
        width: 100%;
        border-radius: 0px;
        @include MQ(M) {
            border-radius: $author-image-solo-page-border-radius;
        }
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        max-width: 400px;
    }
    @include MQ(M) {
        width: 50%;
        display: block;
        float: left;
        @include clearfix;
        img.author {
            margin-right: auto;
            margin-left: auto;
            display: block;
            @include clearfix;
        }
    }
}

.author-information {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    @include MQ(M) {
        @include clearfix;
        display: block;
        float: right;
        width: 50%;
        padding-right: 5%;
        padding-left: 5%;
    }
}

ul.recent-articles {
    li {
        margin-top: 8px;
        a {
            font-weight: bold;
        }
    }
}

.social {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    padding-top: 20px;
    width: 100%;
    clear: both;
    ul {
        font-size: $base-font-size* 1.5;
        display: inline;
        li {
            display: inline;
        }
    }
}
