@import 'critical-render-path/crp';
#main {
    background-color: $list-page-background-color;
}

.list-introduction {
    @include display(flex);
    @include flex-direction(column);
    position: relative;
    width: 100%;
    background-color: $full-width-header-background-color;
    color: $full-width-header-font-color;
    margin-top: 0px;
    padding-bottom: 1.5em;
    height: auto;
    .introduction {
        width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        @include MQ(XL) {
            padding-right: 0%;
            padding-left: 0%;
            margin-right: auto;
            margin-left: auto;
            max-width: $XL;
        }
        ul.breadcrumb {
            display: inline;
            li {
                display: inline;
                h1 {
                    small {
                        font-size: .5em;
                    }
                    background: transparent;
                    display: inline-block;
                    font: $article-title-font;
                    padding-top: $base-font-size;
                    margin-bottom: 5px;
                    margin-top: 0px;
                    @include MQ(M) {
                        margin-top: 0px;
                        font-size: $base-font-size * 3.2;
                        padding-top: $base-font-size * 2;
                    }
                }
            }
        }
        .description {
            display: none;
            @include MQ(M) {
                display: block;
            }
        }
    }
}

h1.tag-name {
    small {
        font-size: .5em;
    }
}

article {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: $list-page-background-color;
    width: 90%;
    margin-bottom: 20px;
}

.list-page-image,
.list-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0%;
    border: 0;
    padding: 0%;
}

ul.list {
    width: 100%;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    margin-right: auto;
    margin-left: auto;
    @include MQ(XL) {
        max-width: $XL;
        padding-bottom: 20px;
    }
    li {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(stretch);
        position: relative;
        margin-bottom: 0px;
        margin-top: 20px;
        float: left;
        width: 100%;
        border: $tile-border;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
        -moz-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
        box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        background-color: $tile-background-color;
        @include MQ(M) {
            width: 49%;
            max-width: 49%;
            margin-right: 2%;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @include MQ(L) {
            width: 32%;
            max-width: 32%;
            margin-right: 1.3333%;
            &:nth-child(2n) {
                margin-right: 1.3333%;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        @include MQ(HUGE) {
            width: 22%;
            max-width: 22%;
            margin-right: 4%;
            &:nth-child(2n) {
                margin-right: 4%;
            }
            &:nth-child(3n) {
                margin-right: 4%;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        h3,
        p {
            width: 90%;
            max-width: 90%;
            margin-right: auto;
            margin-left: auto;
            position: relative;
        }
        h3 {
            margin-bottom: .5em;
        }
        p {
            margin: 0px auto $base-font-size auto;
        }
    }
    .category {
        @include transition($base-transition);
        position: absolute;
        top: 0;
        left: 0px;
        color: $category-button-font-color;
        font-size: $base-font-size;
        line-height: 28px;
        border: $category-border;
        background-color: $category-button-background-color;
        padding-right: 10px;
        padding-left: 10px;
        z-index: $category-button-z-index;
        text-transform: $category-text-transform;
        a {
            z-index: 10;
            text-transform: $category-text-transform;
        }
        &:hover {
            background-color: $category-button-background-color-hover;
        }
        .category-article-total {
            float: right;
        }
    }
}

//'text-bottom' forces the final div in a list item to to to the bottom of the column. This is used for the "read more" button.
.text-bottom {
    @include display(flex); // set the context
    @include flex(1); // flex an equal amt of space yo!
    @include align-items(flex-end); // make that shit sit on the bottom dawg.
    @include justify-content(center); // center the text horizontally suckah. the poor man's text-align: center
    .read-more {
        margin-bottom: 20px;
        color: $read-more-font-color;
        font-size: $read-more-button-font-size;
        font-weight: $read-more-font-weight;
        text-transform: $read-more-text-transform;
        line-height: $read-more-button-font-size * 3;
        width: $read-more-button-width;
        height: $read-more-button-font-size * 3;
        border: $read-more-border;
        vertical-align: middle;
        background-color: $read-more-background-color;
        border: $read-more-border;
        width: $read-more-button-width;
        text-align: center;
        &:hover {
            background-color: $read-more-background-color-hover;
            color: $read-more-font-color-hover;
            border: $read-more-border-hover;
        }
    }
}

.see-all-tags {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}

ul.article-tags {
    vertical-align: middle;
    display: none;
    font-size: $base-font-size * 0.75;
    height: auto;
    li.article-tag {
        display: inline-block;
        line-height: $base-font-size/1.2 * 1.5;
        float: left;
        margin-left: 10px;
        margin-bottom: 5px;
        vertical-align: middle;
        padding: 5px;
        text-transform: $tags-text-transform;
        border-radius: $tags-border-radius;
        background-color: $tags-background-color;
        &:hover {
            background-color: $tags-background-hover;
            color: $tags-font-color-hover;
        }
        a {
            text-decoration: none;
            border: none;
            color: $tags-font-color;
            &:hover {
                border: none;
            }
        }
    }
}
