@import 'critical-render-path/crp';

#main{
    background-color:$homepage-background-color;
}
img,
.list-image {
    width: 100%;
    height: auto;
    margin: 0%;
    border: 0;
    padding: 0%;
}

article {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    @include MQ(M) {
        margin-top: 0px;
    }
}

ul.home {
    width: 100%;
    background-color: $homepage-background-color;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    padding-bottom:15px;
}

li.post {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    position: relative;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    float: left;
    width: 100%;
    border: $tile-border;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    background-color: $tile-background-color;
    &:not(:first-child) {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        @include MQ(M) {
            width: 33.333%;
        }
        @include MQ(L) {
            width: 28%;
            margin-top: 4vw;
            margin-bottom: 4vw;
            &:not(:first-child) {
                margin-left: 4%;
            }
            .information {
                p {
                    display: block;
                }
            }
        }
    }
    .information {
        @include flex-direction(column);
        position: relative;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        h3{
            font-size:1.5em;
            line-height:1.5;
            text-align:center;
            padding-top:.5em;
            vertical-align:middle;
            padding:0;
        }
        p {
            margin: 0px auto $base-font-size auto;
            @include MQ(XL) {
                font-size: 1.2em;
            }
        }
    }
}

.category {
    @include transition($base-transition);
    position: absolute;
    top: 0;
    left: 0px;
    color: $category-button-font-color;
    font-size: $base-font-size;
    line-height: 28px;
    border: $category-border;
    background-color: $category-button-background-color;
    padding-right: 10px;
    padding-left: 10px;
    z-index: $category-button-z-index;
    a {
        text-transform: $category-text-transform;
    }
    &:hover {
        background-color: $category-button-background-color-hover;
    }
    .category-article-total {
        float: right;
    }
}

.read-button {
    @include display(flex);
    @include flex(1); // flex an equal amount of space
    @include align-items(flex-end); // keep buttom at bottom
    @include justify-content(center); // center the text horizontally 
    .read-more {
        margin-bottom: 20px;
        color: $read-more-font-color;
        font-size: $read-more-button-font-size;
        font-weight: $read-more-font-weight;
        text-transform: $read-more-text-transform;
        line-height: $read-more-button-font-size * 3;
        width: $read-more-button-width;
        height: $read-more-button-font-size * 3;
        border: $read-more-border;
        vertical-align: middle;
        background-color: $read-more-background-color;
        border: $read-more-border;
        width: $read-more-button-width;
        text-align: center;
        &:hover {
            background-color: $read-more-background-color-hover;
            color: $read-more-font-color-hover;
            border: $read-more-border-hover;
        }
        @include MQ(HUGE) {
            font-size: $base-font-size * 1.2;
            padding-right: 25px;
            padding-left: 25px;
            width: auto;
        }
    }
}

.author-name {
    @include align-self(flex-start);
    padding-bottom: 20px;
}

//STYLES FOR HOMEPAGE FEATURE ARTICLE (IE, FIRST CHILD LIST ITEM)
//
li.post:first-child {
    overflow-x: hidden;
    .category {
        display: none;
    }
    .information {
        h3 {
            height: auto;
            line-height: 1.5;
            padding:.25em;
            font-size: 1.5em;
            vertical-align:middle;
            background-color: $homepage-feature-heading-background-color;
            width: 115%;
            margin-left:-7.5%;
            overflow-x:hidden;
            text-align: center;
            margin-bottom: .5em;
            color:$white;
            opacity:.9;
        }
        p {
            display: block;
        }
    }
}

@include MQ(M) {
    li.post:first-child {
        width: 100%;
        margin-top: 0;
        .information {
            h3 {
                width: 120%;
                margin-left: -10%;
                overflow-x: hidden;
            }
            p {
                line-height: 1.5;
            }
        }
    }
}

@include MQ(L) {
    li.post:first-child {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        .list-video, .image {
            width: 65%;
        }
        .information {
            h3 {
                text-align: left;
                @include transition($base-transition);
                padding: .25em;
                margin-top: 20px;
                @include transform(translateX(-40%));
                font-size: 2.0em;
                &.movie-playing {
                    @include transform(translateX(0%));
                    margin-left: 0px;
                    width: 100%;
                    opacity:1;
                }
                @include MQ(XL) {
                    font-size: 2em;
                }
            }
            width: 35%;
            p,
            .read-more,
            .author-name {
                display: block;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
            p {
                @include MQ(XL) {
                    font-size: 1.2em;
                }
            }
            .read-more {
                text-align: center;
                width: $read-more-button-width;
            }
        }
    }
}

@include MQ(HUGE) {
    li.post:first-child {
        h3 {
            font-size: 2.8em;
        }
        .information {
            p {
                font-size: 1.6em;
                line-height: 1.5;
            }
        }
    }
}

//MIDDLE ROW
section.middle-row {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1);
    @include justify-content(center);
    @include align-items(center);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    vertical-align: middle;
    padding: 2em;
    margin: 0%;
    padding: 2em 5%;
    background-color: $middle-row-background-color-homepage;
    color: $white;
    @include MQ(L){
        min-height:300px;
    }
    h3 {
        text-align: center;
        font-size: 2em;
        flex-shrink: 0;
        margin-bottom: 1em;
    }
    p {
        flex-shrink: 0;
    }
}
