//BEGIN BASE CRP
@import 'variables';
@import 'basic-grid';
@import 'normalize';
@import 'bourbon/bourbon';
@import 'menu-icon';
@import 'header-and-main';
//END BASE CRP
/*BEGIN HOMEPAGE STYLES*/
@import 'video-player';
.main {
    padding-top: 20px;
}

.home-article-list {
    display: block;
    float: left;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0;
    @include MQ(M) {
        //allow 5% auto-margin on the home-article-list
        max-width: 90% - $right-rail-widget-width;
        display: inline-block;
        clear: both;
    }
    @include MQ(L) {
        width: 63%;
        max-width: 63%;
    }
}

.home-article-wrapper {
    display: block;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    @include MQ(M) {
        display: block;
        clear: both;
        margin-right: auto;
        margin-left: auto;
        float: none;
        max-width: $article-home-page-max-width-m-plus;
        height: 100%;
        // max-width: 600px;
    }
    @include MQ(XL) {
        max-width: 100%;
        margin: 0;
        @include display(flex);
    }
}

//Styles for article listing for XL+ screens (ie, "rows" intstead of "cards")
@include MQ(XL) {
    .home-article-section {
        @include display(flex);
        height: auto;
        padding: 0;
        background-color: #333333;
    }
    .home-article-video,
    .home-article-image {
        height: auto;
        @include align-items(center);
        @include display(flex);
        @include flex-direction(column);
        max-width: 45%;
        float: left;
        .home-article-category {
            @include transform(translateY(0));
            width: 100%;
            position: relative;
            margin: 0;
            left: 0;
            top: 0;
            font-size: $base-font-size * 1.2;
            line-height: $base-font-size *2.5;
            height: $base-font-size * 2.5;
            vertical-align: middle;
            @include order(1);
            border: 0px;
            a {
                
                font-weight: $category-font-weight;
            }
            @include MQ(HUGE) {
                font-size: $base-font-size * 1.8;
            }
        }
        .article-image,
        .video-thumb {
            @include order(2);
            width: 100%;
            img {
                margin: 0px;
                padding: 0px;
                width: 100%;
            }
        }
        .home-publish-date {
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);
            @include align-self(flex-end);
            @include order(3);
            height: $base-font-size *2;
            background-color: $publish-date-background-color-large;
            position: relative;
            color: $publish-date-font-color-large;
            vertical-align: auto;
            width: 100%;
            padding: 0px;
            margin: 0px;
            border: 0px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            .day, .month, .year {
                margin-right: 5px;
                font-size: $base-font-size;
                vertical-align: middle;
                color: $publish-date-font-color-large;
                font-family: $publish-date-font-family-large-screen;
                @include align-self(center);
            }
            .day:after {
                content: ', ';
            }
        }
    }
    .home-article-image {
        .home-publish-date {
            //The negative margin is to account for a small gap between the article image and the article publish that seems to show up in Retina on Chrome
            margin-top: -5px;
            z-index: 5;
            @include order(2);
        }
    }
    .home-article-information {
        max-width: 55%;
        height: auto;
        @include order(1);
        .home-article-title-and-description {
            @include display(flex);
            @include flex-direction(column);
            @include align-items(stretch);
            .home-article-title {
                font-size:$base-font-size * 1.5;
                @include order(1);
            }
            .home-article-description {
                @include order(2);
            }
            .read-button-and-author {
                @include order(3);
                vertical-align: middle;
                width: 100%;
                // margin-top: $base-font-size;
            }
        }
    }
    .home-article-social-buttons {
        order: 2;
        margin-top: auto;
        margin-bottom: auto;
        border-left: $social-buttons-border;
        @include align-items(center);
    }
}

.home-article-section {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    background-color: $home-article-information-background-color;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    margin-bottom: 15px;
}

.home-article-category {
    @include transition($base-transition);
    position: absolute;
    top: 0;
    left: 35px;
    color: white;
    font-size: $base-font-size;
    line-height: 28px;
    border: 3px solid $body-background-color;
    background-color: $category-button-background-color;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 5;
    @include transform(translateY(-$read-more-button-height / 1.5));
    a {
        z-index: 10;
        text-transform: $category-text-transform;
    }
    &:hover {
        background-color: $category-button-background-color-hover;
    }
    .category-article-total {
        float: right;
    }
}

.home-article-video {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
}

.home-article-social-buttons {
    z-index: 1;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    float: left;
    min-width: 55px;
    padding-right: 3px;
    border-right: $social-buttons-border;
    font-size: 2em;
    z-index: 3;
    background-color: $social-icons-background-color;
    font-family: $heading-font-family;
    svg {
        @include transition($base-transition);
        // display: block;
        clear: both;
        fill: $social-buttons-color;
        margin: 10px 20px 10px 20px;
        @include MQ(M) {
            max-width: 20px;
        }
    }
    .pinterest-svg:hover {
        fill: #cb2027;
    }
    .google-plus-svg:hover {
        fill: #dd4b39;
    }
    .twitter-svg:hover {
        fill: #00aced;
    }
    .linkedin-svg:hover {
        fill: #007bb6;
    }
    .facebook-svg:hover {
        fill: #3b5998;
    }
}

#twitter-mini {
    display: inline-block;
    float: right;
    margin-right: 10px;
    fill: $twitter-mini-color;
}

.home-publish-date {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(flex-start);
    padding: 5px;
    text-align: left;
    background-color: $publish-date-background-color;
    font-family: $publish-date-font-family;
    position: absolute;
    right: 0px;
    top: 0%;
    @include MQ(M) {
        //spaces the publish date more evenly within the image/video caption for medium-size screens, but will revert to fixed position up top for L & XL screens
        top: 30%;
    }
    .month,
    .year {
        font-size: $base-font-size;
        color: lighten($base-font-color, 25%);
        @include align-self(flex-end);
    }
    .day {
        font-size: 3em;
    }
}

.home-article-image {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    .article-image img {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
}

.home-article-title {
    font-size: $base-font-size *1.2;
    line-height:1.2;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom:5px;
    @include MQ(M) {
        font-size: $base-font-size * 1.3;
        a {
            cursor: pointer;
            vertical-align: middle;
            margin: 0;
            position: relative;
            width: 100%;
        }
    }
    @include MQ(HUGE) {
        font-size: $base-font-size * 2;
    }
}

.home-article-information {
    @include display(flex);
    @include flex-direction(row);
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    .home-article-title-and-description {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.home-article-description {
    margin-bottom: 10px;
    color:$home-article-description-font-color;
    @include MQ(HUGE) {
        font-size: $base-font-size * 1.5;
        line-height: 1.5;
    }
}

.read-more {
    color: $read-more-font-color;
    font-size: $read-more-button-font-size;
    font-weight: $read-more-font-weight;
    display: block;
    clear: both;
    width: 100%;
    text-transform: $read-more-text-transform;
    line-height: 1.5;
    @include MQ(L) {
        display: inline-block;
        width: $read-more-button-width;
        height: $read-more-button-height;
    }
    a {
        display: block;
        vertical-align: middle;
        background-color: $read-more-background-color;
        border: $read-more-border;
        margin: 15px auto 15px auto;
        width: $read-more-button-width;
        text-align: center;
        &:hover {
            background-color: $read-more-background-color-hover;
            color: $read-more-font-color-hover;
        }
        @include MQ(M) {
            display: inline-block;
            float: left;
        }
    }
    @include MQ(HUGE) {
        font-size: $base-font-size * 1.5;
        line-height: 1.5;
        a {
            padding-right: 10px;
            padding-left: 10px;
            width: $read-more-button-width * 1.4;
        }
    }
}

.read-button-and-author {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.article-author-name {
    float: right;
    padding-top: $read-more-button-height / 2;
    line-height: $read-more-button-height;
    border-bottom: $home-article-author-name-underline;
    vertical-align: middle;
    display: block;
    @include MQ(L) {
        display: inline-block;
        vertical-align: middle;
    }
    .article-author-link {
        font-weight: bold;
        line-height: $read-more-button-height;
        @include MQ(L) {
            display: inline-block;
            float: right;
        }
        @include MQ(HUGE) {
            font-size: $base-font-size * 1.5;
            line-height: 1.5;
        }
    }
}

.article-tags {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    float: right;
    z-index: 10;
    vertical-align: middle;
    line-height: $base-font-size * 1.5;
}

.article-tag {
    display: inline-block;
    line-height: $base-font-size * 1.5;
    vertical-align: middle;
    padding: 5px;
    color: $tags-font-color;
    border-radius: $tags-border-radius;
    background-color: $tags-background-color;
    &:hover {
        background-color: $tags-background-hover;
        color: $tags-font-color-hover;
    }
}

.right-rail-widget {
    display: block;
    clear: both;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    @include MQ(MMAX) {
        margin-bottom: $footer-height;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 1);
        -moz-box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 1);
        box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 1);
    }
    @include display(flex);
    @include flex-direction(column);
    @include MQ(M) {
        overflow-y: scroll;
        position: fixed;
        right: 0;
        height: 100%;
        // height: 100vh;
        top: 0;
        display: inline-block;
        clear: both;
        padding-top: $header-height-non-mobile + 10px;
        width: $right-rail-widget-width;
        max-width: $right-rail-widget-max-width;
        background-color: $right-rail-widget-background-color;
    }
    @include MQ(XL) {
        width: $right-rail-widget-width;
        max-width: $right-rail-widget-max-width;
    }
    .right-rail-content {
        width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        @include MQ(M) {
            width: 100%;
            position: relative;
        }
        text-align: center;
        display: block;
    }
    .author-image img {
        display: block;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    .categories {
        text-align: left;
        width: 90%;
        margin: 10px auto;
        .categories-heading {
            border-bottom: $right-rail-widget-section-underline;
            color: $home-tags-heading-color;
            font-size: $base-font-size;
            font-weight: $category-font-weight;
        }
        .category-name {
            margin: 24px 24px 24px 0px;
        }
    }
    .home-tag-listing {
        text-align: left;
        width: 90%;
        margin: auto;
        .tags-heading {
            border-bottom: $right-rail-widget-section-underline;
            color: $home-tags-heading-color;
            font-size: $base-font-size;
            font-weight: 300;
        }
        .article-tag {
            display: inline-block;
            margin: 3px;
        }
    }
    .most-recent-tweet {
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        height: auto;
        .twitter-content-wrapper {
            border-top: 1px solid #cccccc;
            display: block;
            width: 90%;
            margin-right: auto;
            padding-top: 10px;
            margin-left: auto;
        }
        .tweet-url:hover ~ #twitter-mini {
            color: red;
        }
    }
}

.twitter-header {
    clear: both;
    width: 100%;
}

.twitter-handle {
    float: left;
    margin-bottom: 5px;
    color: $primary-brand;
    font-weight: bold;
}

.tweet-body {
    display: block;
    clear: both;
}

#twitter-mini {
    display: inline-block;
    float: right;
    fill: $twitter-mini-color;
}

.tweet-url {
    color: $twitter-mini-color;
}

.tweet-time {
    display: block;
    text-align: right;
    margin-top: 5px;
    a {
        color: $anchor-color;
        font-weight: bold;
    }
}
