@import 'critical-render-path/crp';
/*BEGIN ARTICLE STYLES*/

.article-video {
    width: 100%;
    width: 100vw;
    overflow-x: hidden;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    z-index: 2;
    @include MQ(L) {
        width: 100%;
        .play-button {
            @include transform(translateY(-150px));
        }
    }
}

.article-main-image {
    z-index: 1;
    display: block;
    position: relative;
    min-width: 100%;
    min-width: 100vw;
    padding: 0px;
    margin-top: 0px;
    z-index: 2;
    img {
        width: 100%;
        padding: 0px;
        border: 0px;
        height: auto;
        z-index: -1;
    }
}

.image-fade-block {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    //Image does not include a fade to the background color in <L screens
    height: $article-main-image-fade-in-height;
    @include linear-gradient(transparent, $article-full-length-background-color);
    @include MQ(L) {
        display: block;
        height: 300px;
    }
}

iframe + .image-fade-block {
    display: none;
}

ul.article-tags {
    display: block;
    clear: both;
    z-index: 10;
    vertical-align: middle;
    font-size: $base-font-size * 0.75;
    position: absolute;
    margin-top: 15px;
    margin-top: 25px;
    padding: 0;
    bottom: 10px;
    left: 10px;
    li.article-tag {
        display: inline;
        line-height: $base-font-size/1.2 * 1.5;
        float: right;
        margin-left: 10px;
        vertical-align: middle;
        padding: 5px;
        text-transform: $tags-text-transform;
        border-radius: $tags-border-radius;
        background-color: $tags-background-color;
        &:hover {
            background-color: $tags-background-hover;
            color: $tags-font-color-hover;
        }
        .fa.fa-tags {
            $font-size: $base-font-size * 2;
            line-height: 1.5;
        }
        a {
            text-decoration: none;
            border: none;
            color: $tags-font-color;
            &:hover {
                border: none;
            }
        }
    }
}

.play-button-small + .article-tags {
    bottom: 15px;
}

.play-button {
    @include MQ(L) {
        display: none;
    }
}

article.full-length {
    position: relative;
    background-color: $article-full-length-background-color;
    font-size: $base-font-size;
    width: 100%;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-bottom:15px;
    z-index: 5;
    margin-right: auto;
    margin-left: auto;
    color: $base-font-color;
    @include MQ(L) {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        max-width: $full-article-max-width;
        padding: {
            right: 15px;
            left: 15px;
        }
    }
    a {
        border-bottom: $article-anchor-underline;
        -webkit-transition: border .4s ease-in-out;
        transition: border .4s ease-in-out;
        font-weight: 600;
        color: $primary-brand;
        &:hover {
            border-bottom: $article-anchor-underline-hover;
        }
    }
}

.introduction {
    @include MQ(L) {
        @include transition($base-transition);
        font-size: $base-font-size * 1.25;
        background-color: white;
        position: fixed;
        top: 15%;
        left: auto;
        right: auto;
        width: $full-article-max-width;
        margin-left: -15px;
        opacity: 1;
        h1 {
            margin: 0.67em 0;
            font-size: 2em!important;
        }
        p.article-metadata {
            font-size: 1em;
        }
        &.relative {
            @include transition($base-transition);
            position: relative;
        }
    }
}

.play-button-small {
    display: none;
    @include MQ(L) {
        position: absolute;
        right: 15px;
        bottom: 15px;
        display: block;
        font-weight: bold;
        background-color: $primary-brand;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: .25em;
        &:hover {
            color: $accent-color;
        }
        .fa.fa-play-circle {
            @include transition($base-transition);
            cursor: pointer;
            display: block;
            font-size: $base-font-size * 3;
            border-radius: 10px;
            &:hover {
                color: $accent-color;
            }
        }
    }
}

h1 {
    background: transparent;
    display: block;
    clear: both;
    font: $article-title-font;
    padding-top: $base-font-size * 2;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    @include MQ(M) {
        margin-top: 0px;
        font-size: $base-font-size * 3.2;
        padding-top: $base-font-size * 2;
    }
}

h2 {
    color: $light-font-color;
    font: $article-subtitle-font;
    text-align: center;
    font-size: $base-font-size * 1.25;
    padding: 0;
    margin: 0;
    @include MQ(M) {
        font-size: $base-font-size * 1.25 + 2px;
    }
}

strong.updated {
    color: $accent-color;
    font-size: $base-font-size;
    font-weight: bold;
}

.article-metadata {
    font-size: $base-font-size;
    text-align: center;
    margin-bottom: 0px;
}

.length-in-minutes {
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: $base-font-size;
    margin-top: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    .clock-icon {
        display: inline;
        font-size: 24px;
        line-height: 22px;
    }
}

@include MQ(L) {
    .w-video .introduction .length-in-minutes {
        padding-bottom: 85px;
    }
}

.time {
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    margin-bottom: 12px;
}

p {
    line-height: $base-font-size * 1.5;
    margin-bottom: $base-font-size * 1.5;
    @include MQ(M) {
        line-height: $base-font-size * 1.25 * 1.5;
        margin-bottom: $base-font-size * 1.25 * 1.5;
    }
}

h3,
h4 {
    font-weight: bold;
}

//Article Heading
h3 {
    font-size: $base-font-size + 6px;
    @include MQ(L) {
        font-size: $base-font-size * 1.25+ 8px;
    }
}

//Article Subheading
h4 {
    font-size: $base-font-size + 2px;
    @include MQ(L) {
        font-size: $base-font-size * 1.25 + 4px;
    }
}

.body-content {
    blockquote {
        width: 100%;
        display: block;
        font-size: $base-font-size * 1.2;
        border-left: 5px solid $accent-color;
        p {
            font-size: $base-font-size * 1.2;
            line-height: 1.5;
            padding-left: 15px;
            font-style: italic;
            font-weight: bold;
        }
    }
}

@include MQ(L) {
    .body-content {
        blockquote {
            font-size: $base-font-size * 2.2;
            p {
                font-size: $base-font-size * 2.2;
                line-height: 1.5;
            }
        }
    }
}

cite {
    font-style: normal;
    .author-name {
        font-style: normal;
    }
}

.all-articles {
    font-size: $base-font-size;
    display: inline-block;
    text-align: left;
}

@include MQ(M) {
    .body-content {
        z-index: 3;
        p {
            font-size: $base-font-size * 1.25;
        }
    }
    .body-content > p:first-child {
        font-size: $base-font-size * 1.25 + 4px;
        &:first-letter {
            font-size: 4em;
            line-height: 1em;
            font-weight: 400;
            float: left;
            margin: -8px 0 -8px -9px;
        }
        &:first-line {
            font-weight: 800;
        }
    }
    .body-content > h3:first-child + p:first-child {
        font-weight: bold;
    }
}

.social-media-icons-bar {
    @include transition($base-transition);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $article-social-buttons-background-mobile-overlay-color;
    @include transform(translateY(-100%));
    z-index: -1;
    &.icon-bar-open {
        @include transition($base-transition);
        @include transform(translateX(0));
        opacity: $article-social-buttons-opacity-mobile;
        vertical-align: middle;
        margin-top: $header-height-mobile;
        z-index: 999999;
    }
    ul.social-buttons {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        margin: 0px;
        padding-top: $header-height/2;
        @include MQ(L) {
            background-color: $article-social-buttons-background-desktop;
        }
        .share {
            width: 50%;
            border-bottom: 1px solid $base-font-color;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            font-size: $base-font-size;
            line-height: 1.5;
            font-weight: bold;
        }
        a {
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
            width:50%;
        }
        a svg {
            @include transition(.3s);
            fill: $social-buttons-color;
            margin-bottom: 15px;
            width: 60px;
            height: 60px;
            padding: 10px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            text-decoration: none;
            background-color: $article-social-buttons-color-mobile;
            &:first-child {
                margin-top: 10px;
            }
            &:last-child {
                margin-bottom: 25px;
            }
            &:nth-child(odd) {
                padding-right: -10px;
            }
            &:nth-child(even) {
                padding-left: -10px;
            }
            &.pinterest-svg {
                fill: #cb2027;
            }
            &.google-plus-svg {
                fill: #dd4b39;
            }
            &.twitter-svg {
                fill: #00aced;
            }
            &.linkedin-svg {
                fill: #007bb6;
            }
            &.facebook-svg {
                fill: #3b5998;
            }
        }
    }
}

@include MQ(M) {
    .social-media-icons-bar {
        @include transform(translateY(0));
        display: block;
        position: absolute;
        width: 100px;
        height: auto;
        top: 0;
        left: -100px;
        margin-top: 0px;
        margin-top: 0px;
        overflow-y:hidden;
        ul.social-buttons {
            max-width: 100px;
            li {
                a {
                    svg {
                        fill: $base-font-color;
                        &.pinterest-svg {
                            fill: $social-buttons-color;
                            &:hover {
                                fill: #cb2027;
                            }
                        }
                        &.google-plus-svg {
                            fill: $social-buttons-color;
                            &:hover {
                                fill: #dd4b39;
                            }
                        }
                        &.twitter-svg {
                            fill: $social-buttons-color;
                            &:hover {
                                fill: #00aced;
                            }
                        }
                        &.linkedin-svg {
                            fill: $social-buttons-color;
                            &:hover {
                                fill: #007bb6;
                            }
                        }
                        &.facebook-svg {
                            fill: $social-buttons-color;
                            &:hover {
                                fill: #3b5998;
                            }
                        }
                    }
                }
            }
            .close-social-buttons {
                display: none;
            }
        }
    }
    .share-button {
        display: none;
    }
}

.close-social {
    display: block;
    clear: both;
    width: 100%;
    height: $base-font-size * 1.5;
    margin-right: auto;
    margin-left: auto;
    a.close-social-buttons {
        text-align: center;
        line-height: 1.5;
        display: block;
        padding: 5px;
        margin-left: 25%;
        background-color: $close-social-button-color;
        color: $close-social-button-font-color;
        border: none;
        &:hover {
            border: none;
        }
    }
}

a.share-button {
    display: block;
    position: fixed;
    width: 100%;
    height: $mobile-article-share-button-height;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: $share-button-z;
    .share {
        display: block;
        margin: auto;
        line-height: $mobile-article-share-button-height;
        font-size: 20px;
        font-weight: bold;
        word-wrap: break-word;
        text-align: center;
        background-color: $mobile-article-share-button-background-color;
        color: $mobile-article-share-button-font-color;
        opacity: 0.9;
        &.icon-bar-open {
            opacity: 1;
        }
        @include MQ(L) {
            display: none;
        }
    }
}

img[alt$="left"] {
    width: 100%;
    z-index: 99;
    @include MQ(M) {
        width: 40%;
        max-width: 300px;
        margin: 0 1em 0 0px;
        float: left;
        border-radius: $border-radius-right-and-left-body-images;
    }
    @include MQ(XL) {
        margin: 0 1em 0 -150px;
    }
}

img[alt$="right"] {
    width: 100%;
    @include MQ(M) {
        width: 40%;
        max-width: 300px;
        margin: 0 0 0 1em;
        float: right;
        border-radius: $border-radius-right-and-left-body-images;
    }
    @include MQ(XL) {
        margin: 0 -150px 0 1em;
    }
}

img[alt$="center"] {
    border-radius: 0px;
}

img[alt$="full"] {
    position: relative;
    width: 100%;
    width: 100vw;
}

.author-blurb {
    display: block;
    clear: both;
    background-color: $author-blurb-background-color;
    color: $base-font-color;
    padding: 10px;
    margin-bottom:10px;
    img {
        border-radius: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 100px;
    }
    h5 {
        font-size: $base-font-size;
        text-align: center;
        margin-top: 3px;
        padding-top: 3px;
        margin-bottom: 0px;
    }
    p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 3px;
        padding-top: 3px;
        line-height: $base-font-size * 1.2;
        font-weight: 300;
    }
}

a.next-article,
a.previous-article {
    @include display(flex);
    @include justify-content(center);
    @include clearfix;
    background-color: $dark;
    color: white;
    width: 50%;
    @include MQ(M) {
        width: auto;
    }
    height: auto;
    max-width: 50%;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    z-index: 99;
    border-bottom: 2px solid $body-background-color;
    @include MQ(M) {
        border: none;
    }
}

.previous-article {
    border-right: 2px solid $body-background-color;
}

.previous-article {
    float: left;
}

.next-article {
    float: right;
}

.article-info {
    padding: 1em;
}

.fa.fa-chevron-right {
    right: 0;
    display: none;
}

.fa.fa-chevron-left {
    left: 0;
    display: none;
}

@include MQ(M) {
    .next-article, .previous-article {
        @include transition($base-transition);
        display: block;
        height: auto;
        width: auto;
        position: fixed;
        z-index: 20;
        top: 50%;
        border: none;
        small {
            text-transform: uppercase;
            padding-top: 0;
            margin-top: .5em;
            font-size: .8em;
            border-bottom: 1px solid;
            padding-right: .5em;
            padding-left: .5em;
        }
        .date {
            font-size: 1em;
            font-weight: bold;
        }
        .title {
            margin-top: .5em;
            font-size: 1.2em;
            margin-bottom: .5em;
        }
    }
    .article-info {
        display: inline-block;
        z-index: -1;
        background-color: $dark;
        color: white;
        @include transition($base-transition);
    }
    .previous-article {
        left: 0;
        @include transform(translateX(-100%));
        &:hover {
            @include transform(translateX(0));
        }
    }
    .next-article {
        right: 0;
        @include transform(translateX(100%));
        &:hover {
            @include transform(translateX(0));
        }
    }
    .fa.fa-chevron-left,
    .fa.fa-chevron-right {
        display: block;
        cursor: pointer;
        color: $white;
        position: fixed;
        z-index: 25;
        top: 50%;
        font-weight: 100;
        z-index: 9999;
        font-size: $base-font-size * 1.5;
        line-height: $base-font-size * 1.5 * 1.5;
        background-color: $dark;
        padding: .25em;
    }
    .fa.fa-chevron-right {
        right: 0;
    }
    .fa.fa-chevron-left {
        left: 0;
    }
    .move-previous:hover ~ .previous-article,
    .move-next:hover ~ .next-article {
        @include transform(translateX(0));
        z-index: 9998;
    }
    .next-article:hover,
    .previous-article:hover {
        z-index: 9998;
    }
    .article-info:hover {
        @include transform(translateX(0));
        z-index: 9998;
    }
}
