// WOFF converted Google fonts - can be called in the variables module with the same spelling as the following @imports
@import 'arvowoff';
// @import 'fjord';
// @import 'lorabold';
// @import 'bitterbold';
// @import 'ralewaybold';
// @import 'merriweather';
@import 'variables';
@import 'basic-grid';
@import 'normalize';
@import 'bourbon/bourbon';
@import 'menu-icon';
/* HEADER */

.header {
    z-index: $header-z;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $header-background-color;
    @include transition(.4s);
    display: block;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    flex-direction: column;
    width: $mobile-menu-width;
    order: 2;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    @include transform(translateX($mobile-menu-width));
    &.menu-open {
        @include transform(translateX(0px));
    }
    .primary-navigation {
        @include MQ(MMAX) {
            padding-top: $mobile-header-height;
            -webkit-transition: none;
            transition: none;
        }
        ul {
            width: 100%;
            padding-left: -5px;
            margin: 0;
            li {
                margin-bottom: 10px;
                &:first-child {}
                a {
                    text-decoration: none;
                    margin: 10px;
                    text-transform: $primary-navigation-text-transform;
                }
            }
        }
    }
    //BEGIN HEADER FOR MEDIUM+ SCREENS
    @include MQ(M) {
        top: 0;
        left: 0;
        width: 100%;
        width: 100vw;
        height: $header-height-non-mobile;
        line-height: $header-height-non-mobile;
        padding-top: 0;
        @include transform(translateX(0px));
        &.hide-header {
            opacity: 0;
        }
        .primary-navigation {
            float: right;
            ul {
                li {
                    display: inline-block;
                    // margin-bottom:32px;
                    padding: 0;
                    &:last-child {
                        padding-right: $site-logo-size/3;
                    }
                    a {
                        cursor: pointer;
                        vertical-align: middle;
                        color: $header-link-color;
                        font-size: $header-link-font-size;
                        margin: 0;
                        position: relative;
                        width: 100%;
                        margin-right: 10px;
                        &:hover:before {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                    a:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: $header-link-underline-thickness;
                        margin-top: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $header-link-underline-color;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        transform: scaleX(0);
                        @include transition(.3s);
                    }
                    a:hover:before {
                        visibility: visible;
                        @include transform(scaleX(1));
                    }
                    a#search-icon:hover:before {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

.header-main-logo-image {
    width: 100vw;
    z-index: 999;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    height: $mobile-header-height;
    color: $header-link-color;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $mobile-header-background-color;
    @include MQ(M) {
        display: none;
    }
}

//icon or link in the top left to the header. The main logo, which is optional, is in the center of the header and is described below.
.home-icon {
    z-index: $home-icon-z;
    position: fixed;
    top: $site-logo-size/4;
    left: $site-logo-size/4;
    height: $site-logo-size;
    width: $site-logo-size;
    display: block;
    padding: auto;
    vertical-align: middle;
    font-size: $site-logo-size/3;
    background-color: $logo-color;
    border-radius: $home-logo-border-radius;
    &:hover {
        cursor: pointer;
    }
    a {
        @include transition(.4s);
        cursor: pointer;
        margin-bottom: 0;
        width: $site-logo-size;
        height: $site-logo-size;
        line-height: $site-logo-size;
        color: $logo-font-color;
        text-align: center;
        font-weight: bold;
        display: block;
        background-size: contain;
        &:hover {
            cursor: pointer;
        }
    }
}

.site-name-mobile-only {
    display: block;
    position: fixed;
    line-height: $header-link-font-size * 1.5;
    top: $header-link-font-size/1.5;
    left: 50px;
    font-size: $header-link-font-size;
    color: $logo-color;
    z-index: 900;
    &:after{
        content:$site-name;
    }
    @include MQ(M) {
        display: none;
    }
}

//The main logo is different than the home logo/icon. The former is all the way to the left in the site header.
.header-main-logo-image {
    background-image: $header-main-logo-background-image;
    position: fixed;
    z-index: $header-z;
}

.main {
    z-index: $main-content-z;
    @include transition(.4s);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $footer-height;
    background-color: $main-content-background-color;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-width: $XXL;
    &.menu-open {
        @include transform(translateX(-$mobile-menu-width));
        opacity: 0.5;
    }
    margin: {
        top: 0;
        bottom: 0;
    }
    padding-top: $header-height-non-mobile + 40px;
    padding-bottom: $footer-height;
}

.homepage-article-list {
    display: inline-block;
    float: left;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0;
    @include MQ(M) {
        float: right;
    }
}

.home-article-wrapper {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    @include MQ(M) {
        display: inline-block;
        max-width: $article-home-home-page-max-width-m-plus;
        height: 100%;
    }
}

.home-article-section {
    display: inline-block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    background-color: $home-article-information-background-color;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.5);
    margin-bottom: 15px;
}

.home-article-category {
    @include transition(.3s);
    position: absolute;
    top: 0;
    left: 35px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    border: 3px solid white;
    background-color: $category-button-background-color;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 5;
    @include transform(translateY(-12px));
    a {
        z-index: 10;
    }
    &:hover {
        background-color: $category-button-background-color-hover;
    }
}

.home-article-social-buttons {
    z-index: 1;
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    clear: both;
    width: 100%;
    font-size: 2em;
    z-index: 3;
    background-color: $social-icons-background-color;
    font-family: $heading-font-family;
    svg {
        @include transition(.3s);
        fill: $social-buttons-color;
        margin: 10px 20px 10px 20px;
    }
    .pinterest-svg:hover {
        fill: #cb2027;
    }
    .google-plus-svg:hover {
        fill: #dd4b39;
    }
    .twitter-svg:hover {
        fill: #00aced;
    }
    .linkedin-svg:hover {
        fill: #007bb6;
    }
    .facebook-svg:hover {
        fill: #3b5998;
    }
}

#twitter-mini {
    display: inline-block;
    float: right;
    margin-right: 10px;
    fill: $twitter-mini-color;
}

hr.social {
    display: block;
    clear: both;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
}

.home-article-video {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
}

.video-player-youtube,
.video-player-vimeo {
    display: block;
    width: 100%;
    /* assuming that the video has a 16:9 ratio */
    
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    cursor: hand;
    cursor: pointer;
    display: block;
}

.video-thumb {
    @include hardware-accelerate;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    right: 0;
    top: 0;
    height: auto;
}

//PLAY BUTTON FOR VIDEO LIBRARY AND FOR VIDEOS INCLUDED IN INDIVIDUAL POSTS
.play-button {
    display: block;
    height: $video-player-play-button-size;
    width: $video-player-play-button-size;
    left: $video-player-play-button-left-padding;
    top: 35%; //Assume 16:9 ratio for YouTube videos
    position: absolute;
}

.play-button-svg {
    @include transition(.4s);
    fill: $video-player-play-button-color;
    &:hover {
        fill: $video-player-play-button-color-hover;
    }
}

//this class is set by the main.js javascript
.video-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-publish-date {
    display: inline-block;
    width: 60px;
    padding: {
        top: 5px;
        left: 5px;
        bottom: 5px;
    }
    text-align: center;
    background-color: $publish-date-background-color;
    font-family:$publish-date-font-family;
    position: absolute;
    right: 0px;
    top: 30%;
    .month,
    .year {
        display: block;
        font-size: 1em;
    }
    .day {
        display: block;
        font-size: 3em;
    }
}

.home-article-image {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    .article-image img {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
}

.home-article-title {
    font-size: $base-font-size *1.5;
    display: block;
    width: 100%;
    text-align: center;
    @include MQ(M) {
        font-size: $base-font-size * 2;
    }
}

.home-article-information {
    height: 100%;
    padding-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.home-article-description {
    margin-bottom: 10px;
}

.read-more {
    color: $read-more-font-color;
    font-size: 1.2em;
    a {
        padding: .2em;
        background-color: $read-more-background-color;
        width: 120px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: block;
        &:hover {
            background-color: $read-more-background-color-hover;
        }
    }
}

.author-and-tags-container {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
    height: $base-font-size * 1.5;
}

.author-photo {
    display: inline-block;
    float: left;
}

.article-author {
    display: inline-block;
    padding-left: 5px;
    float: left;
    vertical-align: middle;
    line-height: 50px;
}

.author-image-small {
    border-radius: $author-image-small-radius;
    height: 50px;
}

.article-tags {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    float: right;
    z-index: 10;
    vertical-align: middle;
    line-height: $base-font-size * 1.5;
}

.article-tag {
    @include transition(.3s);
    display: inline-block;
    line-height: $base-font-size * 1.5;
    vertical-align: middle;
    padding: 5px;
    color: $tags-font-color;
    border-radius: $tags-border-radius;
    background-color: $tags-background-color;
    &:hover {
        background-color: $tags-background-hover;
    }
}

.home-about-rail-widget {
    display: inline-block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 1px 0px rgba(204,204,204,1);
    @include display(flex);
    @include flex-direction(column);
    @include MQ(M) {
        overflow-y: scroll;
        position: fixed;
        right: 0;
        height: 100%;
        height: 100vh;
        top: 0;
        padding-top: $header-height-non-mobile + 10px;
        max-width: $home-about-widget-max-width;
        background-color: $home-about-rail-widget-background-color;
    }
    .home-about-content {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        @include MQ(M) {
            max-width: 400px;
        }
        text-align: center;
        display: block;
        // background-color: $home-about-rail-widget-background-color;
    }
    .author-image img {
        display: block;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    .home-tag-listing {
        text-align: left;
        width:90%;
        max-width: 400px;
        margin: auto;
        .tags-heading {
            border-bottom: 3px solid $home-tags-heading-color;
            color: $home-tags-heading-color;
        }
        .article-tag {
            display: inline-block;
            margin: 3px;
        }
    }
    .most-recent-tweet {
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        height: auto;
        border-radius: $most-recent-tweet-border-radius;
        @include linear-gradient(white, lighten($twitter-blue,45%));
        .twitter-content-wrapper{
            display:block;
            width:90%;
            max-width:400px;
            margin-right:auto;
            margin-left:auto;
        }
    }
}

.twitter-header {
    clear: both;
    width:100%;
}

.twitter-handle {
    float: left;
    margin-bottom: 5px;
    color: $primary-brand;
    font-weight: bold;
}

.tweet-body {
    display: block;
    clear: both;
}

#twitter-mini {
    display: inline-block;
    float: right;
    fill: $twitter-mini-color;
}

.tweet-url {
    color: $twitter-mini-color;
}

.tweet-time {
    display: block;
    text-align: right;
    margin-top: 5px;
    a {
        color: $anchor-color;
        font-weight: bold;
    }
}

//Can be moved out of CRP - 
.primary-navigation {
    @include MQ(MMAX) {
        margin-top: 10px;
        ul {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align:center;
            li:after{
                width:50%;
                display:block;
                margin-right:auto;
                margin-left:auto;
                border-bottom:1px solid #cccccc;
            }
        }
    }
}

//TESTING CLASSES FOR SWIG TEMPLATING - YOU WILL PROBABLY WANT TO REMOVE THIS FOR PRODUCTION
.success {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}

.failure {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
