// WOFF converted Google fonts - can be called in the variables module with the same spelling as the following @imports
@import 'arvowoff';
// @import 'fjord';
// @import 'lorabold';
// @import 'bitterbold';
// @import 'ralewaybold';
@import 'variables';
@import 'basic-grid';
@import 'reset';
@import 'bourbon/bourbon';
@import 'menu-icon';
/* HEADER */

.header {
    z-index: $header-z;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $header-background-color;
    @include transition(.4s);
    display: block;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    flex-direction: column;
    width: $mobile-menu-width;
    order: 2;
    @include transform(translateX($mobile-menu-width));
    &.menu-open {
        @include transform(translateX(0px));
    }
    .primary-navigation {
        @include MQ(MMAX) {
            padding-top: $mobile-header-height;
        }
        ul {
            width: 100%;
            padding-left: -5px;
            margin: 0;
            li {
                margin-bottom: 10px;
                &:first-child {}
                a {
                    text-decoration: none;
                    margin: 10px;
                }
            }
        }
    }
    //BEGIN HEADER FOR MEDIUM+ SCREENS
    @include MQ(M) {
        top: 0;
        left: 0;
        width: 100%;
        width: 100vw;
        height: $header-height-non-mobile;
        line-height: $header-height-non-mobile;
        padding-top: 0;
        @include transform(translateX(0px));
        &.hide-header {
            opacity: 0;
        }
        .primary-navigation {
            float: right;
            ul {
                li {
                    display: inline-block;
                    // margin-bottom:32px;
                    padding: 0;
                    &:last-child {
                        padding-right: $site-logo-size/3;
                    }
                    a {
                        cursor: pointer;
                        vertical-align: middle;
                        color: $header-link-color;
                        font-size: $header-link-font-size;
                        text-transform: $primary-navigation-text-transform;
                        margin: 0;
                        margin-right: 10px;
                        &:hover:before {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.header-main-logo-image {
    width: 100vw;
    z-index: 999;
    top: 0;
    left: 0;
    height: $mobile-header-height;
    color: $header-link-color;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $mobile-header-background-color;
    @include MQ(M) {
        display: none;
    }
}

//icon or link in the top left to the header. The main logo, which is optional, is in the center of the header and is described below.
.home-icon {
    z-index: $home-icon-z;
    position: fixed;
    top: $site-logo-size/4;
    left: $site-logo-size/4;
    height: $site-logo-size;
    width: $site-logo-size;
    display: block;
    padding: auto;
    vertical-align: middle;
    font-size: $site-logo-size/3;
    background-color: black;
    border-radius: $home-logo-border-radius;
    &:hover {
        cursor: pointer;
    }
    a {
        @include transition(.4s);
        cursor: pointer;
        margin-bottom: 0;
        width: $site-logo-size;
        height: $site-logo-size;
        line-height: $site-logo-size;
        color: $header-link-color;
        text-align: center;
        font-weight: bold;
        display: block;
        background-size: contain;
        &:hover {
            cursor: pointer;
            color: $logo-color;
            background-color: $home-logo-hover-background-color;
        }
    }
}

//The main logo is different than the home logo/icon. The former is all the way to the left in the site header.
.header-main-logo-image {
    background-image: $header-main-logo-background-image;
    position: fixed;
    z-index: $header-z;
}

.main {
    z-index: $main-content-z;
    @include transition(.4s);
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: $main-content-background-color;
    width: 100%;
    max-width: $XXL;
    &.menu-open {
        @include transform(translateX(-$mobile-menu-width));
        opacity: 0.5;
    }
    margin: {
        top: 0;
        bottom: 0;
    }
    padding-top: $header-height-non-mobile + 40px;
    padding-bottom: $footer-height;
}

.list-of-articles {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    padding: 0;
}

.list-article-wrapper {
    display:inline-block;
    position:relative;
}

.list-article-section {
    display: inline-block;
    max-width:100%;
    height:100%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.5);
    margin-bottom: 15px;
    @include MQ(M){
        max-width:50%;
        height:100%;
        &:nth-child(even){
            padding:0px;
            margin:0px;
            position:absolute;
            top:0;
        }
    }
}

.list-article-topic {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    font-size:2em;
    padding: 5px;;
    background-color:$topic-background-color;
    font-family:$heading-font-family;
}



.list-article-video {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
}


.video-player-youtube,
.video-player-vimeo {
    display: block;
    width: 100%;
    /* assuming that the video has a 16:9 ratio */
    
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    cursor: hand;
    cursor: pointer;
    display: block;
}

.video-thumb {
    @include hardware-accelerate;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    right: 0;
    top: 0;
    height: auto;
}

//PLAY BUTTON FOR VIDEO LIBRARY AND FOR VIDEOS INCLUDED IN INDIVIDUAL POSTS
.play-button {
    display: block;
    height: $video-player-play-button-size;
    width: $video-player-play-button-size;
    left: $video-player-play-button-left-padding;
    top: 35%; //Assume 16:9 ratio for YouTube videos
    position: absolute;
}

.play-button-svg {
    @include transition(.4s);
    fill: $video-player-play-button-color;
    &:hover {
        fill: $video-player-play-button-color-hover;
    }
}

//this class is set by the main.js javascript
.video-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.list-publish-date {
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: $publish-date-background-color;
    position: absolute;
    right: 0px;
    bottom: 0px;
    .month, .year {
        display: block;
        font-size: 1em;
    }
    .day {
        display: block;
        font-size: 3em;
    }
}

.list-article-image {
    position: relative;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    .list-publish-date {
        bottom:5px;
    }
    .article-image img {
        width:100%;
        height:100%;
        padding: 0px;
        margin: 0px;
    }
}

.list-article-title{
    font-size:$base-font-size * 2;
    text-align:center;
}

.author-photo {
    display: inline-block;
    float: left;
}

.article-author {
    display: inline-block;
    padding-left: 5px;
    float: left;
    vertical-align: middle;
    line-height: 50px;
}

.author-image-small {
    border-radius: $author-image-small-radius;
    height: 50px;
}
.list-article-information{
    height:100%;
    padding-top:10px;
    width:90%;
    margin-right:auto;
    margin-left:auto;
}
.author-and-tags-container {
    margin-top:5px;
    margin-bottom:5px;
    display:block;
    width:100%;
    clear:both;
}
.article-tags {
    display: inline-block;
    float: right;
    z-index: 10;
    vertical-align: middle;
    line-height: 50px;
}

.article-tag {
    @include transition(.3s);
    padding:4px;
    background-color:$tags-color;
    &:hover {
        background-color:darken($tags-color,20%);
    }
}

//TESTING CLASSES FOR SWIG TEMPLATING - SHOULD BE REMOVED FOR PRODUCTION
.success {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}

.failure {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

aside .home-about-rail-widget {
    display: block;
    clear: both;
    width:100%;
}
