@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/base';
// @import 'basic-grid';
// @import 'variables';
// @import 'theme';
// @import 'crp';
// @import 'home';
// @import 'search';
// @import 'article';
// @import 'footer';
// 
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import 'social';
.video-thumbnail-wrapper {
    position: relative;
    max-width: 560px;
    max-height: 315px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.play-button {
		cursor:pointer;
    position: absolute;
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
}
