@import 'normalize';
$overlay: #01589B;
$color: #01589B;
$gray: #333333;
*, *:after, *:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.link-home {
    font-size:2rem;
    height:5rem;
    line-height:5rem;
    color:white;
    text-decoration:none;
    margin-left:1rem;
}
html {
    font-size: 16px;
}
body {
    background: #fff;
    color: $gray;
    line-height: 1.5rem;
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
}
header {
    display: block;
    height: 5rem;
    width: 100%;
    clear: both;
    background-color: lighten($gray, 50%);
}
main {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}
article {
    display: block;
    max-width: 100%;
}
h1 {
    font-size: 2.5rem;
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    font-weight: 500;
}
.search-button {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    margin-right: 1rem;
    display: inline-block;
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
    color: $overlay;
    width: auto;
    float: right;
    font-weight: 500;
    font-size: 1.5rem;
    svg.search-icon {
        display: inline;
        fill: $overlay;
        height: 3rem;
        width: 3rem;
        padding-top: 1rem;
    }
    &:hover {
        color: white;
    }
}
/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $overlay;
}
/* Overlay closing cross */

button.close-search {
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    background-color: $overlay;
    vertical-align: middle;
    border: none;
    outline: none;
    z-index: 100;
    font-size: 5rem;
    line-height: 5rem;
    color: white;
    font-weight: 100;
}
button.close-search:hover {
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    background-color: white;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    color: $overlay;
    border-radius: 50%;
    opacity: 1;
}
.overlay form {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}
input.search {
    border: none;
    border-bottom: 1px solid white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    background-color: $overlay;
    color: white;
    opacity: 1;
}
input.search:focus {
    outline: 0;
    opacity:1!important;
}
input.search::-webkit-input-placeholder {
    color: white;
    opacity: 0.6;
}
input.search:-moz-placeholder {
    /* Firefox 18- */
    
    color: white;
    opacity: 0.6;
}
input.search::-moz-placeholder {
    /* Firefox 19+ */
    
    color: white;
    opacity: 0.6;
}
input.search:-ms-input-placeholder {
    color: white;
    opacity: 0.6;
}
/* Effects */

.overlay-search {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.7s, visibility 0s 0.7s;
    transition: opacity 0.7s, visibility 0s 0.7s;
}
.overlay-search.open {
    opacity: 0.9;
    visibility: visible;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
}
.overlay-search form {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.overlay-search form input {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s;
}
.overlay-search.open form input {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.overlay-search.close form input {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

.overlay-search.open ~.search-button {
    color:transparent;
}
.overlay-search.open ~.search-button:hover {
    color:transparent;
}
@media screen and (max-height: 30.5em) {
    .overlay form {
        height: 70%;
        font-size: 34px;
    }
}
@media screen and (max-width: 500px) {
    input.search {
        font-size: 1.5rem;
        opacity:1!important;
        z-index:999;
    }
    .search-button:hover {
        color:$overlay;
        z-index:-99;
    }
    button.close-search {
        width: 3rem;
        height: 3rem;
        position: absolute;
        right: 1rem;
        top: 5rem;
        overflow: hidden;
        background-color: $overlay;
        vertical-align: middle;
        border: none;
        outline: none;
        z-index: 100;
        font-size: 3rem;
        line-height: 3rem;
        color: white;
        font-weight: 100;
    }
    button.close-search:hover {
        background-color: white;
        line-height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        color: $overlay;
        border-radius: 50%;
        opacity: 1;
    }
        h3.press-anykey {
        display:none;
    }
}

input.material-form::-webkit-input-placeholder {
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    font-size: 11px;
}
h1.form-heading-1 {
    line-height: 3rem;
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    width: 100%;
    font-size: 1.5rem;
    background: darken($color, 4%);
    color: white;
    line-height: 150%;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
form.contact-form {
    -webkit-transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
            transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    box-sizing: border-box;
    position: fixed;
    top: 90px;
    right: 0px;
    background-color: white;
    width: 260px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    h1.form-heading-1 {
        box-sizing: border-box;
        padding: 20px;
        margin-top: 0px;
        text-align: center;
        vertical-align: middle;
    }
}
input.material-form {
    margin: 40px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px $color;
    -webkit-transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
            transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, $color 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: darken($color, 20%);
    &:focus, &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: $color;
            font-size: 11px;
            -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}

button.form-button {
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    font-family: 'Avenir Next', 'Lato', Arial, sans-serif;
    border: none;
    font-size: 1rem;
    background: $color;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    &:hover {
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    }
}
.reveal {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    visibility: visible;
}
.hide {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    visibility: hidden;
}

// SEARCH
.wh-search-results dt {
    font-size: 125%;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    padding: 10px 0px;
}
.wh-search-results dd {
    margin-left: 0;
}
.wh-search-results a {
    text-decoration: none;
    color: #000;
    border-bottom: solid 1px #ccc;
    padding: 10px 0px;
    display: block;
}
.wh-search-term {
    background: #ddd;
    display: inline-block;
    font-weight: bold;
}
.wh-search-url {
    font-size: 80%;
    color: #666;
}
.wh-search-term-in-page {
    font-weight: bold;
}
