.header {
    position: fixed;
    display: block;
    z-index: $header-z;
    margin-bottom: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left:15px;
    background-color: $header-background-color-mobile;
    @include MQ(M) {
        background-color: $header-background-color;
    }
    @include transition($base-transition);
    height: 100%;
    height:100vh;
    top: 0px;
    right: 0px;
    width: $mobile-menu-width;
    // max-width:100%;
    opacity:$header-opacity;
    @include transform(translateX(100%));
    &.menu-open {
        @include transform(translateX(0px));
        overflow-y: scroll;
    }
    .primary-navigation {
        margin-top:$header-height-mobile;
        ul {
            width: 100%;
            padding-left: -5px;
            margin: 0;
            li {
                margin-bottom: 10px;
                &:first-child {}
                a {
                    text-decoration: none;
                    border: none;
                    margin: 10px;
                    text-transform: $primary-navigation-text-transform;
                    color: $header-link-color-mobile;
                    @include MQ(L) {
                        color: $header-link-color;
                    }
                }
            }
        }
    }
}

@include MQ(M) {
    .header {
        width:100%;
        @include display(flex);
        @include align-items(center);
        @include flex(none);
        @include flex-shrink(0);
        position: relative;
        height: $header-height;
        opacity:$header-opacity;
        @include transform(translateX(0px));
        .site-name{
            @include flex(1);
            padding-left:1em;
            color:$header-link-color;
        }
        &.hide-header {
            opacity: 0;
        }
        .primary-navigation {
            margin-top:0;
            ul {
                @include flex(1);
                li {
                    display: inline;
                    line-height:1.5;
                    a {
                        cursor: pointer;
                        vertical-align: middle;
                        color: $header-link-color;
                        font-size: $header-link-font-size;
                        position: relative;
                        width: 100%;
                        margin-right: 10px;
                        &:hover {
                            border-bottom:3px solid $primary-brand;
                        }
                    }
                }
            }
        }
    }
}

.header-mobile-only {
    display: none;
    @include MQ(MMAX) {
        display:block;
        height: $header-height-mobile;
        background-color: $header-background-color;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $header-mobile-z;
        img{
            width:$header-height-mobile *.75;
            height:$header-height-mobile * .75;
            margin-top:$header-height-mobile * .125;
            margin-left:10px;
        }
    }
}


//SEARCH ICON: note that the rest of the search styles are not included in CRP files and can be found in _search.scss
.search-button {
    padding-right:1em;
    #search-icon svg {
        display: none;
        @include MQ(M) {
            display: inline;
            vertical-align: middle;
            fill: $header-link-color;
            margin: 0;
            padding: 0;
            line-height: $site-logo-size;
            height: $search-icon-size;
            width: $search-icon-size;
            .magnifying-glass {
                fill: $header-link-color;
            }
        }
    }
}


.mobile-navigation {
    position: fixed;
    top: $site-logo-size / 2;
    right: $site-logo-size * 1.25;
    z-index: $mobile-menu-icon-z;
    @include MQ(M) {
        display: none;
    }
}

.menu-icon {
    display: block;
    position: absolute;
    width: $mobile-icon-height;
    height: $mobile-icon-width;
    z-index: 2;
}

.menu-icon-inner {
    display: block;
    width: $mobile-icon-width;
    height: $mobile-icon-layer-height;
    margin-top: $mobile-icon-layer-height * 2;
    background: $header-mobile-toggle-menu-icon-color;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &::before, &::after {
        display: block;
        position: absolute;
        content: "";
        z-index: -1;
        width: $mobile-icon-width;
        height: $mobile-icon-layer-height;
        background: $header-mobile-toggle-menu-icon-color;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    &::before {
        top: 0;
    }
    &::after {
        top: $mobile-icon-layer-height * 4;
    }
}

.search-wrapper {
    display: none;
}

//CLICKED STATE FOR MENU ICON IS INCLUDED IN THE BELOW-THE-FOLD CONTENT!!!
