.main {
    @include transition($base-transition);
    @include order(2);
    @include flex(1 0 auto);
    @include flex-shrink(0);
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    @include MQ(MMAX) {
        margin-top: $header-height-mobile;
    }
}

.main.faded {
    opacity: 0;
}

.main.menu-open {
	opacity:.2;
}
