.video-player-youtube,
.video-player-vimeo,.video-player {
    display: block;
    width: 100%;
    /* assuming that the video has a 16:9 ratio */
    
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    display: block;
}

.video-thumb,.thumb {
    @include hardware-accelerate;
    // @include display(flex);
    display:block;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    height: auto;
}

//PLAY BUTTON FOR VIDEO LIBRARY AND FOR VIDEOS INCLUDED IN INDIVIDUAL POSTS
.play-button {
    display: block;
    height: $video-player-play-button-size;
    width: $video-player-play-button-size;
    left: $video-player-play-button-left-padding;
    top: 35%; //Assume 16:9 ratio for YouTube videos
    position: absolute;
    cursor: pointer;
    z-index:5;
}

svg.play-button-svg {
    @include transition(.4s);
    fill: $video-player-play-button-color;
    opacity: $video-player-play-button-opacity;
    &:hover {
        fill: $video-player-play-button-color-hover;
        opacity:$video-player-play-button-opacity-hover;
    }
}

//this element & class is set by the main.js javascript, which creates the element on the click event
.video-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}