<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {# Grab the title and description from the CMS general settings. #}
  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}

  <head>
    {# the icons.html should house all of your favicons for browsers, mobile, touch, Windows, etc. I'd recommend checking out http://realfavicongenerator.net/#}
    {% include "templates/partials/icons.html" %}
    {# You can use the typography partial to easily swap out links to external web fonts#} 
    {% include "templates/partials/typography.html" %}
    {# Standard Metadata #}
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{item.title|default(getSetting('site_name'))}}</title>
    <link rel="author" href="{{ url(item.author)|default('Ryan D Watters') }}"> {# Standard Metadata #}
    <meta name="description" content="{{ item.description|default(getSetting('site_description')) }}">
    <meta name="keywords" content="{% if item.tags%}{% for keyword in item.tags %}{{ keyword.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{getSetting('site_keywords')}}{% endif %}" /> 
    {#Open Graph Protocol for Facebook and Pinterest#}
    <meta property="og:site_name" content="{{ getSetting('site_name') }}">
    <meta property="og:title" content="{{ item.title|default(getSetting('site_name')) }}" />
    <meta property="og:type" content="{% if item._type === 'articles' %}article{% else %}Blog{%endif%}" />
    <meta property="og:url" content="{{ url(item) }}">
    <meta property="article:published_time" content="{{item.publish_date}}">
    <meta property="article:modified_time" content="{% if item.most_recent_update %}{{ item.most_recent_update }}{% else %}{{ item.last_updated }}{%endif%}">
    <meta property="og:description" content="{{item.description|default(getSetting('site_description'))}}" /> {#Twitter#}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ getSetting('site_twitter') }}">
    <meta name="twitter:creator" content="@{{ getSetting('site_twitter') }}">
    <meta name="twitter:title" content="{{item.title|default(getSetting('site_name'))}}">
    <meta name="twitter:description" content="{{item.description|default(getSetting('site_description'))}}">
    <meta name="twitter:image:src" content="{% if item.image %}
        {{- item.image.url -}}{% else %}/static/images/site_logo.png{% endif %}"> 
    {#Swiftype - use settings depending on desired faceted search. See https://swiftype.com/documentation/meta_tags for meta tagging#}
    <meta property="st:image" content="{% if item.image %}
        {{- item.image.url -}}{% else %}/static/images/site_logo.png{% endif %}">
    <meta property="st:published_at" content="{{item.publish_date}}" />
    <meta property="st:updated_at" content="{% if item.most_recent_update %}{{ item.most_recent_update }}{% else %}{{ item.last_updated }}{%endif%}" />
    <meta property="st:section" content="{{item.description|default(getSetting('site_description'))}}">
    <style>
        {% include "templates/partials/crp.html" %}
    </style>     
    {# Useful block for loading outside scripts in other pages. #}
    {% block head_extra %}{% endblock %}
  </head>
  <body>
      {% block body %}
      {% block header %}
      {% include "templates/partials/header.html" %}
      {% endblock %}

      {# By default, your inner pages will load into this block. #}
      <main class="main" role="main">
      {% block content %}{% endblock %}
      </main>

      {% block footer %}
        {% include "templates/partials/footer.html" %}
      {% endblock %}
          
          <!-- build:css /static/css/minified.css -->
          
          <link rel="stylesheet" href="/static/css/wysiwyg_figures.css"/>    
          <!-- endbuild -->
          <!-- <link rel="stylesheet" href="/static/css/main.css"/> -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" async></script>
      {# Put your JS in here and we'll minify it into one file. No CDN scripts. More info: #}
      {# http://www.webhook.com/docs/minify-your-js-and-css/ #}
       {% block scripts_extra %}{% endblock %}
      <!-- build:js /static/javascript/minified.js -->
      <script src="/static/javascript/classie.js"></script>
      <script src="/static/javascript/main.js"></script>
      <!-- endbuild -->
     
      {# Google Analytics code. Feel free to remove. #}
      <script async>
        var _gaq=[['_setAccount','{{ getSetting('analytics_id') }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    {% endblock %}
    <script type="text/javascript" async>
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

    _st('install','iwMDg2nDWUgtQXzLwkSd');
    </script>
  </body>
</html>
