<!DOCTYPE html>
  {# Grab the title and description from the CMS general settings. #}
  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}
  <head>
    {# the icons.html should house all of your favicons for browsers, mobile, touch, Windows, etc. I'd recommend checking out http://realfavicongenerator.net/#}
    {% include "templates/partials/icons.html" %}
    {# YOU CAN USE THE TYPOGRAPHY PARTIAL TO ADD FONTS FROM GOOGLE FONTS OR OTHER EXTERNAL RESOURCES (e.g, TYPEKIT, ETC) #}
    {% block typography_extra %} 
    {% include "templates/partials/typography.html" %}
    {% endblock %}
    {# Standard Metadata #}
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{getSetting('site_name')}}{% endblock %}</title>
    <link rel="author" href="{{ url(item.author)|default('Ryan D Watters') }}">
    <meta name="description" content="{{ item.description|default(getSetting('site_description')) }}">
    <meta name="keywords" content="{% if item.tags%}{% for keyword in item.tags %}{{ keyword.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{getSetting('site_keywords')}}{% endif %}" />
    {# SOCIAL MEDIA - if you are looking for better ways to create social media links within an article page, I recommend checking out #} 
    {#Open Graph Protocol for Facebook and Pinterest#}
    <meta property="og:site_name" content="{{ getSetting('site_name') }}">
    <meta property="og:title" content="{{ item.title|default(getSetting('site_name')) }}" />
    <meta property="og:type" content="{% if item._type === 'articles' %}article{% else %}Blog{%endif%}" />
    <meta property="og:url" content="{{ url(item) }}">
    <meta property="article:published_time" content="{{item.publish_date}}">
    <meta property="article:modified_time" content="{% if item.most_recent_update %}{{ item.most_recent_update }}{% else %}{{ item.last_updated }}{%endif%}">
    <meta property="og:description" content="{{item.description|default(getSetting('site_description'))}}" /> 
    {#Twitter - this will default to using a twitter image if you do not have a video added to your article #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ getSetting('site_twitter') }}">
    <meta name="twitter:creator" content="@{{ getSetting('site_twitter') }}">
    <meta name="twitter:title" content="{{item.title|default(getSetting('site_name'))}}">
    <meta name="twitter:description" content="{{item.description|default(getSetting('site_description'))}}">
    <meta name="twitter:image:src" content="{% if item.image %}{{- getSetting('site_url') -}}{{ item.image.url -}}{% else %}/static/images/site_logo.png{% endif %}">
      {% if item.related_video %}
      <meta name="twitter:player" content="{{ item.related_video.video.original_url }}">
      <meta name="twitter:player:width" content="560">
      <meta name="twitter:player:height" content="315"> 
      {% endif %}
    {#Swiftype - use settings depending on desired faceted search. See https://swiftype.com/documentation/meta_tags2 for meta tagging. !UPDATED 5/16/2015 to new styles! #}
    <meta class='swiftype' name='title' data-type='string' content='{% block title %}{{getSetting('site_name')}}{% endblock %}' />
    <meta class="swiftype" name="image" data-type='enum' content="{% if item.image %}{{- item.image.url -}}{% else %}/static/images/site_logo.png{% endif %}">
    <meta class='swiftype' name='published_at' data-type='date' content="{{item.publish_date}}" />
    <meta class='swiftype' name="published" data-type='date' content="{% if item.most_recent_update %}{{ item.most_recent_update|date('M d, Y') }}{% else %}{{ item.last_updated|date('M d, Y') }}{%endif%}" />
    <meta class="swiftype" name="category" data-type="string" content="{% if item.category.length > 0 %}{% for item in item.category %}{{ item.name }}{% endfor %}{% else %}{{getSetting('site_name')}}{% endif %}">
    <meta class="swiftype" name="description" data-type="string" content="{{item.description|default(getSetting('site_description'))}}" />
    {#This is the block of CSS embedded into the page head for improved PageSpeed and critical render path#}
    {% block crp_block %}
    {% endblock %}
    
    {# Useful block for loading outside scripts or stylesheets into different pages. #}
    {% block head_extra %}

    {% endblock %}
  </head>
  <body>
      {% block body %}
        {% block header %}
          {% include "templates/partials/header.html" %}
        {% endblock %}
        {# By default, your inner pages will load into this block. #}
        <main class="main" role="main" id="main">
        {% block content %}


        {% endblock %}
        </main>
        {% block footer %}
          {% include "templates/partials/footer.html" %}
        {% endblock %}

        {# BELOW-THE-FOLD CSS #}
        <!-- build:css /static/css/minified.css -->
        <link rel="stylesheet" href="/static/css/below-the-fold.css"/>
        <!-- endbuild -->

        {# JQUERY CDN. OPTIONAL. NOTE: MAY CONFLICT WITH METHODS PROVIDED BY CLASSIE.JS! #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>      
        {# JS BUILD FILES - CONCAT/MIN ON DEPLOYMENT#}      
        <!-- build:js /static/javascript/minified.js -->     
        <script src="/static/javascript/main.js"></script>
        <script src="/static/javascript/jquery.pjax.min.js"></script>
        <!-- endbuild -->
        {# Useful for adding extra javascript to the body's bottom. #}
        
        {% block scripts_extra %}
        <script async>
          $(document).pjax('a[data-pjax]', '#main');  
        </script>
        {% endblock %}
           
      {# GOOGLE ANALYTICS#}
        <script async>
          var _gaq=[['_setAccount','{{ getSetting('analytics_id') }}'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
      {# Swiftype Install Code #} 
        <script type="text/javascript">
        (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

        _st('install','iwMDg2nDWUgtQXzLwkSd','2.0.0');
        </script>  
  </body>
</html>
