{# RIGHT RAIL WIDGET #}
<aside data-swiftype-index="false">
        <section class="content">
        {#Grab each of the categories and write them to the page with the total number of articles in each#}
            <section class="categories" role="navigation" aria-label="Secondary">
                <h4>CATEGORIES</h4>
                <ul class="category">
                    {% for category in cms.categories %}
                        <li class="name">
                            <a href="{{ url(category) }}" title="See other article written in the {{category.name}} category">{{ category.name }}
                                <span class="category-article-total">({{ category.articles.length }})</span>
                            </a>
                        </li>           
                    {% endfor %}
                </ul>
            </section>

            {#Pull all 'tags' currently being used in the cms and add them to this section of the right rail #}
            {% set tags = cms.tags|sort('name') %}
        <section class="tags-list">
            <h4>TAGS</h4>
            {% for tag in tags %}
            <span class="tag"><a href="{{ url(tag) }}">{{ tag.name|lower }}</a></span>
            {% endfor %}
        </section>
        <section class="most-recent-tweet">
                {% set twitterHandle = getSetting('site_twitter') %}
            <div class="twitter-content-wrapper">
                <div class="twitter-header">
                    <span class="twitter-handle">
                        <a href="https://www.twitter.com/@{{twitterHandle}}">@{{ twitterHandle }}</a>
                    </span>
                    {# SMALL TWITTER SVG IN RIGHT WIDGET#}
                    <svg version="1.0"
                        id="twitter-mini" class="twitter-svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="130.9 12.4 31.7 25.8"
                        enable-background="new 130.9 12.4 31.7 25.8" xml:space="preserve" height="15px">
                        <g id="layer1" transform="translate(-282.32053,-396.30734)">
                        <path id="path5" d="M444.9,411.8c-1.2,0.5-2.4,0.9-3.7,1c1.3-0.8,2.4-2.1,2.9-3.6c-1.3,0.7-2.6,1.3-4.1,1.6
                        c-1.2-1.3-2.9-2.1-4.7-2.1c-3.6,0-6.5,2.9-6.5,6.5c0,0.5,0.1,1,0.2,1.5c-5.4-0.3-10.2-2.9-13.4-6.8c-0.6,1-0.9,2.1-0.9,3.3
                        c0,2.3,1.1,4.2,2.9,5.4c-1.1,0-2.1-0.3-2.9-0.8c0,0,0,0.1,0,0.1c0,3.2,2.2,5.8,5.2,6.4c-0.5,0.1-1.1,0.2-1.7,0.2
                        c-0.4,0-0.8,0-1.2-0.1c0.8,2.6,3.2,4.5,6.1,4.5c-2.2,1.7-5,2.8-8.1,2.8c-0.5,0-1,0-1.6-0.1c2.9,1.8,6.3,2.9,10,2.9
                        c12,0,18.5-9.9,18.5-18.5c0-0.3,0-0.6,0-0.8C443,414.2,444.1,413.1,444.9,411.8L444.9,411.8z"/>
                    </g>
                    </svg>
                </div>
                
                {#Pull the last Tweet from the 'Tweet' Content Type and add it to the right rail on m+ screen sizes#}
                {% set tweet = cms.tweet|sort('publish_date',true)|first %}
                {% set tweetBody = tweet.tweet_body.split('http')[0] %}
                {% set tweetUrl = tweet.tweet_body.split('http')[1] %}
                <p class="tweet-body">{{ tweetBody }} <a href="http{{ tweetUrl }}" class="tweet-url">http{{ tweetUrl }}</a></p>
                <p><span class="tweet-time"><time datetime="tweet.tweet_time">Published on <a href="https://www.twitter.com/{{twitterHandle}}/status/{{ tweet.name }}" target="_blank">{{ tweet.tweet_time|date('F d Y. g:i a') }}</a></time></span></p>
            </div>    
        </section>
    </section>
</aside>