<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-video">
            {{ item.video.html|safe  }}
        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">{{item.title}}</div>
        <div class="cbp-l-inline-subtitle"><a href="{{item.video.author_url}}" target="_blank">{{item.video.author_name}}</a></div>

        <div class="cbp-l-inline-desc">
        {% if item.video_description %}
        {{-item.video_description-}}
        {% else %}
        {{-item.video.description-}}
        {% endif %}</div>

        <a href="#" target="_blank" class="cbp-l-inline-view">VIDEO</a>
    </div>
</div>