{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block crp_block %}
      <style>
          {% include "templates/partials/crp-author.html" %}
      </style>
{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<header class="list-introduction">
    <section class="introduction">
        <ul class="breadcrumb">
            <li><a href="{{ url('authors') }}">authors</a></li>
            <li>
                <h1>/{{item.full_name.first}} {{item.full_name.last}}</h1>
            </li>
        </ul>
        <section class="description">
            <p>{{item.topic_description}}</p>
        </section>
    </section>
</header>
<article>
<section class="author-photo">
  <img class="author" src="{{ item.author_photo|imageSize(400, 400) }}" />
</section>
  <section class="author-information">
    <h2>{{ item.full_name.first }} {{ item.full_name.last }}</h2>
    {{ item.long_bio|markdown }}

    <h4><i class="fa fa-book"></i>Recently published by {{ item.full_name.first }} {{ item.full_name.last }}:</h4>
    <ul class="recent-articles">
    {% for relation in item.articles_written %}
      <li>
        <a href="{{ url(relation) }}">{{ relation.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </section>
  <section class="social">
    <ul>
        <li><a href="mailto:{{item.email}}"><i class="fa fa-envelope-o"><strong></i><strong> Email</strong></a></li>
        <li><a href="{{item.twitter}}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</strong></a></li>
        <li><a href="{{item.google_plus}}"><i class="fa fa-google-plus-square"></i><strong> Google+</strong></a></li>
        {% if item.github %}
        <li><a href="{{item.github}}"><i class="fa fa-github-square"></i><strong> Github</strong></a></li>
        {% endif %}
        {% if item.linkedin %}
        <li><a href="{{ item.linkedin }}"><i class="fa fa-linkedin-square"></i><strong> LinkedIn</strong></a></li>
        {% endif %}
    </ul>
  </section>
</article>
{% endblock %}
