{% extends "templates/partials/base.html" %}
{% block crp_block %}
<style>
    {% include "templates/partials/crp-list.html" %}
</style>
{% endblock %}

{# This sets our page <title>. It will append authors to the site title defined in base.html #}
{% block title %}{% parent %} - authors{% endblock %}

{% block content %}
{% set authors = cms.authors %}
{% set authors = authors|sort('full_name.last','true')%}

<header class="list-introduction">
    <section class="introduction">
        <h1>Authors</h1>
        <section class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, tempore at fugit iste deleniti inventore. Tempora voluptatum delectus temporibus dolor ipsum porro culpa fugit nostrum, a nihil minima, laborum vitae.</p></section>
    </section>
</header>
<article class="authors">
  
  <ul class="list js-paginate" id="video-library" itemscope itemtype="http://schema.org/Article" data-next-page="{{ getPageUrl(getCurPage() + 1) }}" data-max-page="{{ getPageUrl(getMaxPage()) }}" data-remove-first="true" data-swiftype-index="false">
    {% for author in authors %}
    <li>       

            <header class="list-page-image">              
              <img class="list-image" src="{{author.author_photo|imageCrop(300,300)}}" alt="Photograph of author {{article.title}}">
              <h3 class="title"><a href="{{url(author)}}">{{author.full_name.first}} {{author.full_name.last}}</a></h3> 
            </header>
        
            <p itemprop="about">{{author.short_bio}}</p>       
    </li>
    {% endfor %}
  </ul>
  <nav role="menu" aria-label="Pagination" aria-hidden="true" class="pagination">
        {% include "templates/partials/paginator.html" %}
  </nav>
</article>
{% endblock %}
