#disqus_thread {
    position:relative;
    display:block;
    width:100%;
    clear:both;
    padding-right:5%;
    padding-left:5%;
    opacity:1!important;
    background-color:$full-article-main-element-background-color!important;
    z-index:99;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:30px;   
    @include MQ(M){
        width:100%;
        margin-bottom:10px;
        max-width: $full-article-max-width;
        padding:{
            left:15px;
            right:15px;
        }
    }
}

aside.article-navigation{
    display:none;
    @include MQ(XL){
        display:block;
        position:fixed;
        width:180px;
        top:150px;
        right:25px;
        font-size:$base-font-size;
        font-weight:300;
        z-index:1;
        h4{
            border-bottom:1px solid $base-font-color;
        }
        ul.navigation{
            li{
                margin-top:8px;
            }
        }
    }
}