.footer {
    @include flex(none);
    @include order(3);
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include flex-shrink(0);
    padding: 1em;
    background: $footer-background-pattern;
    margin-bottom: 0;
    @include MQ(M) {
        @include flex-direction(row);
        @include justify-content(space-around);
    }
}

.site-info {
    width: 100%;
    padding-bottom:1em;
    @include MQ(M) {
        width: 33.333%;
        padding-bottom:0px;
    }
    @include display(flex);
    @include align-items(center);
    color: $white;
    img.site-image {
        display: none;
        border-radius: 50%;
        margin-right: 1em;
        width: 60px;
        height: 60px;
        min-width: 60px;
        @include MQ(M) {
            display: inline;
        }
    }
}

.latest-tweet {
    width: 100%;
    margin-bottom:1em;
    @include MQ(M) {
        width: 27.333%;
        margin-bottom:0;
        margin-right: 3%;
        margin-left: 3%;
    }
    padding:.5em;
    border-radius:5px;
    background-color: $footer-latest-tweet-background-color;
    color: $footer-latest-tweet-font-color;
    svg {
        height: 15px;
        width: 15px;
        fill: $twitter-blue;
        float: right;
    }
    h5 {
        padding-top:.25em;
        padding-bottom:.25em;
        margin:.25em;
        a {
            color: $twitter-blue;
        }
    }
    p {
        display: block;
        width:90%;
        padding-top:.25em;
        margin-top:0;
        margin-right: auto;
        margin-left: auto;
    }
    time{
        float:right;
    }
    
}

ul.footer-social-buttons {
    width: 100%;
    @include MQ(M) {
        width: 33.333%;
        display: inline-block;
    }
    text-align: center;
    li {
        display: inline;
        a {
            margin-right: 15px;
            background-size: cover;
            background-repeat: no-repeat;
            svg.footer-icon {
                @include transition($base-transition);
                width: 25px;
                @include MQ(M){
                    width:35px;
                }
                fill: $footer-svg-color;
    
                &:hover {
                    fill: $footer-svg-color-hover;
                }
            }
            #footer-twitter {
                padding: 2px;
            }
            #footer-googleplus {
                padding: 1px;
            }
        }
    }
}
