#footer,.footer {
    display:block;
    background-color:$footer-background-color;
    margin-top:50px;
    margin-bottom:0px;
    padding-bottom:0px;
    position:absolute;
    bottom: -100px;
    height:$footer-height-mobile;
    right:0;
    width:100%;
    height:140px;
    @include MQ(M){
        height:$footer-height;
    }
    padding-top:15px;
    padding-bottom:$mobile-article-share-button-height;
    border:0px;
    z-index:$footer-z;
    color:$footer-font-color;
    .site-info{
        width:90%;
        display:block;
        text-align:center;
        margin-right:auto;
        margin-left:auto;
        @include MQ(M){
            width:50%;
            float:left;
            padding-left:15px;
            text-align:left;
        }
    }
    .site-image,.site-description{
        vertical-align:middle;
    }

    .site-description{
        @include MQ(M){
            width:70%;
            margin-left:15px;
            display:inline-block;
        }
    }
    img.site-image{
        display:none;
        border-radius:50%;
        width:60px;
        height:60px;
        min-width:60px;
        min-height:60px;
        @include MQ(M){
            display:block;
            float:left;
        }
    }
    .footer-social-buttons {
        width:100%;
        text-align:center;
        display:block;
        @include MQ(M){
            width:50%;
            display:inline-block;
            text-align:right;
        }
        li {
            display:inline;
                margin-bottom:15px;
            a { 
                margin-right:15px;
                background-size: cover;
                background-repeat: no-repeat;
                svg.footer-icon {
                    @include transition($base-transition);
                    width: 30px;
                    fill:$footer-svg-color;
                    height: $footer-height/2;
                    &:hover{
                        fill:$footer-svg-color-hover;
                    }
                }
                #footer-twitter{
                    padding:2px;
                }
                #footer-googleplus{
                    padding:1px;
                }
            }
        }
    }
}