.search-wrapper {
    overflow-x:hidden;
    @include transition($base-transition);
    overflow-y: scroll;
    z-index:99;
    display: block;
    width: $mobile-menu-width;
    position: fixed;
    right:0;
    padding-left:15px;
    top: $search-input-y-offset-mobile;
    background-color: white;
    @include transform(translateX(100%));
    &.menu-open {
        @include transform(translateX(0px));
    }
    @include MQ(M) {
        @include transform(translateX(0px));
        @include transition($base-transition);
        opacity: 0;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-top:$header-height;
        margin-bottom: $footer-height;
        &.search-open {
            display: block;
            opacity: 1;
            z-index: 99999;
            height:100%!important;
        }
    }
}

.search-form {
    display: block;
    width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: $XL;
    margin-right: auto;
    margin-left: auto;
    padding-top: $header-height + 10px;
    @include MQ(M) {
        width: 90%;
        margin-left: 5%;
    }
    @include MQ(L) {
        width: 55%!important;
        display: inline-block;
        float: left;
    }
}

.search-helpers {
    display: none;
    padding-left:10px;
    width: 35%;
    min-width: 360px;
    max-width: 370px;
    float: right;
    margin-right: 5%;
    @include MQ(L) {
        display: block;
        min-height:100%;
    }
}

.featured-article {
    margin-bottom: 20px;
    font-weight: bold;
    background-color: $search-overlay-featured-description-color;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.5);
    span {
        background-color: $search-overlay-featured-heading-color;
        color: $white;
        display: block;
        width: 100%;
        padding: .5em;
    }
    h3,
    p {
        padding: .5em;
    }
    p time {
        float: right;
    }
}

input[type="search"],
#search-input,
.st-default-search-input {
    display: block;
    width: 100%;
    font-family: $body-font-family!important;
    padding: 0!important;
    background: none!important;
    vertical-align: middle!important;
    font-size: 1.5em!important;
    height: 1.5em!important;
    line-height: 1.5em!important;
    padding-bottom: 10px!important;
    @include placeholder {
        color: $base-font-color!important;
    }
    @include MQ(M) {
        font-size: $base-font-size * 2.5!important;
        height: $base-font-size * 2.8!important;
        line-height: $base-font-size *2.8!important;
        background: none!important;
        background-image: none!important;
    }
    outline: none!important;
    &:focus {
        outline: none!important;
    }
    &:active {
        outline: none!important;
    }
}

#close-search {
    display: none;
    strong {
        font-size: .75em;
        line-height: 1.5;
        vertical-align: middle;
        color: white;
        font-weight: bold;
        background-color: $base-font-color;
        text-align: center;
        padding-left: .25em;
        margin-right: .25em;
        margin-bottom: .1em;
    }
    @include MQ(M) {
        z-index: 999999;
        position: fixed;
        top: 0px;
        width: 100%;
        right: 40%;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: -36px;
        cursor: pointer;
        font-size: $header-link-font-size * 1.2;
        font-weight: bold;
        float: right;
        text-align: center;
        vertical-align: middle;
        right: 0px;
        height: $header-height;
        line-height: $header-height;
        background-color: $white;
        color: $base-font-color;
    }
}

.search-wrapper.search-open + #close-search {
    display: block;
}

ul.search-by-tag {
    margin-bottom: 20px;
    li.search-tag {
        @include transition($base-transition);
        padding: .25em;
        color: $tags-font-color;
        display: inline-block;
        border: 1px solid $base-font-color;
        width: auto;
        margin: .25em;
        font-size: $base-font-size * 0.8;
        text-transform: $tags-text-transform;
        border-radius: $tags-border-radius;
        background-color: $tags-background-color;
        &:hover {
            background-color: $tags-background-hover;
            color: $tags-font-color-hover;
        }
    }
}

.search-by-category {
    overflow-x: hidden;
    position: relative;
    .search-category {
        position: relative;
        z-index: 1;
        display: block;
        clear: both;
        margin-top: 8px;
        &:before {
            overflow-x: hidden;
            z-index: -1;
            // position:absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
        }
        span:first-child {
            display: inline-block;
            position: absolute;
            left: 0px;
            bottom: 1px;
            z-index: 2;
            background-color: $search-overlay-color;
        }
        span:nth-child(2) {
            display: inline-block;
            z-index: 2;
            position: absolute;
            right: 0px;
            bottom: 1px;
            background-color: $search-overlay-color;
        }
    }
    margin-bottom:20px;
}

ul.search-by-author {
    li.search-author {
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        margin-top:10px;
        display:block;

        a {
            img {
                line-height: 50px;
                height: 50px;
                border-radius:50%;
                width:50px;
                vertical-align: middle;
                margin-right:5px;
            }
            span:nth-child(2) {
                height: 50px;
                line-height: 50px;
                vertical-align: middle;
            }
        }
    }
}

.category-count {
    float: right;
}

h3.search-overlay {
    width: 100%;
    margin-top: 12px;
    border-bottom: 2px solid $base-font-color;
}

//BEGIN SWIFTYPE STYLES
//NOTE: The search icon is not included in the following styles. As part of the critical render path, it is included in the _header_and_main.scss file.
#search-input,
.st-default-search-input {
    border-radius: 0!important;
    outline: 0!important;
    border: 0!important;
    @include appearance(none);
}

#search-input:focus {
    outline: 0;
}

.swiftype-widget {
    width: 90%!important;
    margin-right: auto;
    margin-left: auto;
    .auto-complete {
        width: 100%!important;
        >ul {
            display: block!important;
            width: 100%!important;
            li {
                display: block!important;
                width: 100%!important;
                .title {
                    width: 100%!important;
                    em {}
                }
            }
        }
    }
}

#search-results,
.st-search-container {
    z-index: -1;
    overflow-y: auto!important;
    display: block;
    overflow-y: scroll;
    color: $base-font-color;
    height: auto;
}

.st-default-autocomplete,
.st-query-present,
.st-ui-autocomplete,
.st-automcomplete-results {
    border-radius: 0px!important;
    color: $base-font-color!important;
    margin-top: 0px!important;
    padding-top: 0px!important;
}

.st-ui-autocomplete {
    margin-top: 0px;
}

.st-query-present {
    margin-top: 0px!important;
    padding-top: 0px!important;
}

a.st-ui-result.__swiftype_result {
    border-radius: none!important;
    span.st-ui-type-heading {
        em {
            color: $primary-brand!important;
        }
    }
}

.st-ui-type-detail {
    .st-ui-type-detail-bold {
        font-weight: 700!important;
        color: $base-font-color;
        text-transform: uppercase;
        &:before {
            content: 'In: '!important;
            text-transform: none;
        }
    }
}
