.search-wrapper {
    @include MQ(M) {
        @include transform(translateX(0px));
        @include transition($base-transition);
        opacity:0;
        z-index:-1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        &.search-open {
            display: block;
            opacity:1;
            z-index:99999;
        }
    }
    overflow-x:hidden;
    @include transition($base-transition);
    overflow-y: scroll;
    z-index:99;
    display: block;
    width: 100%;
    position: fixed;
    top: $search-input-y-offset-mobile;
    background-color: white;
    @include transform(translateX(100%));
    &.menu-open {
        @include transform(translateX(0px));
    }
    .search-form {
        display: block;
        overflow-x:hidden;
        overflow-y: scroll;
        @include MQ(MMAX) {
            width: 90%;
        }
        width: 100%;
        max-width: 750px;
        margin-right: auto;
        margin-left: auto;
        padding-top: $header-height + 10px;
        
    }
}

input[type="search"],
#search-input,
.st-default-search-input {
    display: block;
    font-family: $body-font-family!important;
    padding: 0!important;
    background: none!important;
    vertical-align: middle!important;
    font-size: 1.5em!important;
    height: 1.5em!important;
    line-height: 1.5em!important;
    padding-bottom: 10px!important;
    @include placeholder {
        color: $base-font-color!important;
    }
    @include MQ(M) {
        font-size: $base-font-size * 2.5!important;
        height: $base-font-size * 2.8!important;
        line-height: $base-font-size *2.8!important;
        background: none!important;
        background-image: none!important;
    }
    width:100%!important;
    outline: none!important;
    &:focus {
        outline: none!important;
    }
    &:active {
        outline: none!important;
    }
}

#close-search {
    display:none;
    @include MQ(M) {
        z-index:999999;
        position:fixed;
        top:0px;
        width:100%;
        right:40%;
        color:white;
        cursor:pointer;
        font-weight: bold;
        margin-bottom: -36px;
        cursor: pointer;
        font-size:$header-link-font-size;
        font-weight: 300;
        float: right;
        text-align: center;
        vertical-align: middle;
        right: 0px;
        height: $header-height;
        line-height: $header-height;
        background-color: $white;
        color: $base-font-color;
    }
}
.search-wrapper.search-open + #close-search{
    display:block;
}

//BEGIN SWIFTYPE STYLES
//NOTE: The search icon is not included in the following styles. As part of the critical render path, it is included in the _header_and_main.scss file.
#search-input,
.st-default-search-input {
    border-radius: 0!important;
    outline: 0!important;
    border: 0!important;
    @include appearance(none);
}

#search-input:focus {
    outline: 0;
}

.swiftype-widget {
    width: 90%!important;
    margin-right: auto;
    margin-left: auto;
    .auto-complete {
        width: 100%!important;
        >ul {
            display: block!important;
            width: 100%!important;
            li {
                display: block!important;
                width: 100%!important;
                .title {
                    width: 100%!important;
                    em {}
                }
            }
        }
    }
}

#search-results,
.st-search-container {
    z-index:-1;
    overflow-y: auto!important;
    display: block;
    overflow-y:scroll;
    color: $base-font-color;
    height: auto;
    .st-ui-type-detail-bold {
        font-weight: 700!important;
    }
}

.swiftype-widget .autocomplete ul li {
    border-radius: 0px!important;
}

.swiftype-widget,
.swiftype-widget .autocomplete,
.swiftype-widget .autocomplete ul {
    border-radius: none!important;
    background-color: #cccccc;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.swiftype-widget .autocomplete ul li p.title {
    color: $primary-brand;
    font-weight: bold;
}

@include MQ(M) {
    .swiftype-widget {
        margin-bottom: 0px;
        .autocomplete {
            margin-top: 0px;
        }
    }
}

.swiftype-widget .autocomplete ul li.active {
    background-image: none;
    background-color: $base-font-color;
    color: white;
    border-top: 0px;
    border-bottom: 1px solid $base-font-color;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    p.title {
        color: $secondary-brand;
        em {
            color: white;
            font-style: italic;
        }
    }
}

.st-result-listing a {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4em;
    color: $primary-brand;
}

.st-snippet em {
    font-size: 1.2em;
    font-weight: bold;
}
