{% extends "templates/partials/base.html" %}
{% block crp_block %}
      <style>
          {% include "templates/partials/crp-article.html" %}
      </style>

{% endblock %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<article class="full-length-article">
<img class="full-length-article-main-image" src="{{ item.image|imageCrop(1100, 250)}}" />
  <p><a href="{{ url('articles') }}">View a list of all articles</a></p>
  <section class="social-media-icons-bar">
  {% set article = item %}
  {% include "templates/partials/socialmediaicons.html" %}

  </section>
  <h1 class="article-title">{{ item.title }}</h1>
  {{ item.body|markdown }}
  
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <strong>Author: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.author %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Allow Comments?: </strong>
        {{ item.allow_comments }}
      </li>
      <li>
        <strong>Title: </strong>
        {{ item.title }}
      </li>
      <li>
        <strong>Subtitle: </strong>
        {{ item.subtitle }}
      </li>
      <li>
        <strong>Description: </strong>
        {{ item.description }}
      </li>
        
      <li>
        <strong>Image: </strong>
        {# You can pull out a lot more information from the image property. Info here: #}
        {# http://www.webhook.com/docs/widget-template-reference/#image #}
        
      </li>
      <li>
        <strong>Image Description: </strong>
        {{ item.image_description }}
      </li>
      <li>
        <strong>Related Video: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
        <a href="{{ url(item.related_video) }}">{{ item.related_video.name }}</a>
      </li>
      <li>
        <strong>Category: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.category %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Tags: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.tags %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Related Event: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.related_event %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Most Recent Update: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.most_recent_update|date('F d Y') }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ item.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ item.slug }}
      </li>
      <li>
        <strong>Image License : </strong>
        {{ item.image_license_ }}
      </li>
      <li>
        <strong>Image Attribution: </strong>
        {{ item.image_attribution }}
      </li>
      <li>
        <strong>Image Attribution URL: </strong>
        {{ item.image_attribution_url }}
      </li>
  </ul>
  </article>
  
{% endblock %}
{% block scripts_extra %}
{% parent %}
<script src="/static/javascript/jquery.blast.min.js" async></script>
{% endblock %}
