{% extends "templates/partials/base.html" %} {% block content %}
<article class="main-article">
    <p><a href="{{ url('articles') }}">View a list of all articles</a></p>
    <h1 itemprop="name">{{ item.title }}</h1>
    <h2>{{ item.subtitle}}</h2>
    <p><strong>Article Image:</strong> {% for relation in item.images %}<img src="{{ relation.image|imageSize(500,500)}}" alt="{{relation.alt_text}}" />{% endfor %}</p>
    <p><strong>Updated: </strong>{%if item.most_recent_update %}
      {{- item.most_recent_update|date('F d, Y') -}}{% else %}
      {{- item.last_updated|date('F d Y') -}}{% endif %}<br>
      <strong>Published: </strong>{{ item.publish_date|date('F d Y') }}</p>
    <p>
    <p><strong>Topic: </strong> {% for relation in item.topic %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    <p itemprop="author" rel="author">
    <strong>Author: </strong><a href="{{ url(item.author) }}">{{ item.author.name }}</a>
    </p>
    <p itemprop="keywords"> <strong>Keywords: </strong>
        {% for relation in item.keywords %}
        <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}{% endfor %}
    </p>
    <p>
{% set prev = prevItem(item, 'publish_date', true) %} {% set next = nextItem(item, 'publish_date', true) %}
{% if prev %}
<section class="previous-article">
    <a href="{{ url(prev) }}">Prev</a>
</section>
{% endif %}
<strong>Article Body: {{ item.article_body|markdown }}</strong>
{% if next %}
<section class="next-article">
    <a href="{{ url(next) }}">Next</a>
</section>
{% endif %}

</article> 
     {% if item.allow_comments %}
      <section id="disqus_thread"></section>
        <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'ryanwatters';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
        </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif%} 
  {% endblock %}
