{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Articles{% endblock %}

{% block crp_block %}
      <style>
          {% include "templates/partials/crp-list.html" %}
      </style>
{% endblock %}


{% block content %}
  {% set data = cms.articles %}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 10) %}
<section class="information-header">
    <section class="introduction">
        <h1>Articles</h1>
        <section class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, tempore at fugit iste deleniti inventore. Tempora voluptatum delectus temporibus dolor ipsum porro culpa fugit nostrum, a nihil minima, laborum vitae.</p></section>
    </section>
</section>
<article class="articles">
  
  <ul class="list js-paginate" id="video-library" itemscope itemtype="http://schema.org/Article" data-next-page="{{ getPageUrl(getCurPage() + 1) }}" data-max-page="{{ getPageUrl(getMaxPage()) }}" data-remove-first="true" data-swiftype-index="false">
    {% for article in data %}
    <li class="list-item">
      <a href="{% for cat in article.category %}{{url(cat)}}{% endfor %}"><span class="category">{%for category in article.category %}{{category.name}}{%endfor%}</span></a>            
        <a href="{{url(article)}}">
            <div class="head">
            {% if article.featured %}
            <span class="featured">Featured</span>
            {% endif %}
            
            <img class="list-thumb" src="{{article.image|imageCrop(560,315)}}" alt="Thumbnail image for the article - {{article.title}}"> 
            </div>
        </a>
        <section class="information">
        <a href="{{url(article)}}">
            <h3 class="title">{{article.title}}</h3>
        </a>
            <p itemprop="about">{{article.description}}</p>
        </section>
        
    </li>
    {% endfor %}
  </ul>
  <nav role="menu" aria-label="Pagination" aria-hidden="true" class="pagination">
        {% include "templates/partials/paginator.html" %}
  </nav>
</article>


{% endblock %}
