{% extends "templates/partials/base.html" %} {# This sets our page
<title>. It will append "- Homepage" to the site title defined in base. #} 

{% block content %} 

{% set articles = cms.articles|sort('publish_date',true) %} 
{% for article in articles %}
  {% if loop.first %}
    <section class="featured-article" style="background-image:url('{{article.images[0].image|imageSize(1000)}}');" crossOrigin="anonymous">
          <section class="article-details">
            <section class="article-title">
              <h2 class="title">{{ article.title }}</h2>
              <h3 class="subtitle">{{ article.subtitle }}</h3>
            </section>
            <a href="{{ url(article) }}" class="read-link">Read ...</a>
          </section>
          <span class="article-date">{{ article.publish_date|date('F d, Y') }}</span>     
    </section>  
  {% endif %}
{% endfor %}
<div class="other-articles">  
{% for other in articles|slice(2,4) %}
  <section class="other-article" style="background-image:url('{{other.images[0].image|imageSize(400)}}');">
        <section class="post-information">        
          <h2 class="article-title">{{ other.title }}</h2>
          <section class="article-information">
            <span class="article-subtitle">{{ other.subtitle }}</span>
            <span class="article-date">{{ other.publish_date|date('F d, Y') }}</span class="article-date">
            <span class="article-author">{{ other.author.author.first }} {{ other.author.author.last }}</span>
          </section>
        </section>
      <a href="{{ url(other) }}" class="read-article">Read ...</a>  
  </section>
{% endfor %}
</div>
<article class="main-article">
  <h1>Just need scroll content</h1>
  <p>One Flew Over the Cuckoo's Nest. Man, when you lose your laugh you lose your footing. All I know is this: nobody's very big in the first place, and it looks to me like everybody spends their whole life tearing everybody else down. But it's the truth even if it didn't happen. He knows that you have to laugh at the things that hurt you just to keep yourself in balance, just to keep the world from running you plumb crazy. If you don't watch it people will force you one way or the other, into doing what they think you should do, or into just being mule-stubborn and doing the opposite out of spite. What do you think you are, for Chrissake, crazy or somethin'? Well you're not! You're not! You're no crazier than the average asshole out walkin' around on the streets and that's it.</p>
  <p>One Flew Over the Cuckoo's Nest. Man, when you lose your laugh you lose your footing. All I know is this: nobody's very big in the first place, and it looks to me like everybody spends their whole life tearing everybody else down. But it's the truth even if it didn't happen. He knows that you have to laugh at the things that hurt you just to keep yourself in balance, just to keep the world from running you plumb crazy. If you don't watch it people will force you one way or the other, into doing what they think you should do, or into just being mule-stubborn and doing the opposite out of spite. What do you think you are, for Chrissake, crazy or somethin'? Well you're not! You're not! You're no crazier than the average asshole out walkin' around on the streets and that's it.</p>
  <p>One Flew Over the Cuckoo's Nest. Man, when you lose your laugh you lose your footing. All I know is this: nobody's very big in the first place, and it looks to me like everybody spends their whole life tearing everybody else down. But it's the truth even if it didn't happen. He knows that you have to laugh at the things that hurt you just to keep yourself in balance, just to keep the world from running you plumb crazy. If you don't watch it people will force you one way or the other, into doing what they think you should do, or into just being mule-stubborn and doing the opposite out of spite. What do you think you are, for Chrissake, crazy or somethin'? Well you're not! You're not! You're no crazier than the average asshole out walkin' around on the streets and that's it.</p>
</article>
{% endblock %}
