{% extends "templates/partials/base.html" %} {# This sets our page
<title>. It will append "- Homepage" to the site title defined in base. #} 

{% block content %} 

{% set articles = cms.articles|sort('publish_date',true) %} 
{% for article in articles %}
  {% if loop.first %}
<section class="featured-article" style="background-image:url('{{article.images[0].image|imageSize(1000)}}');" alt="{{article.images[0].alt_text}}" crossOrigin="anonymous">
  <section class="article-details">
    <section class="article-title-block">
      <h2 class="title">{{ article.title }}</h2>
      <h3 class="subtitle">{{ article.subtitle }}</h3>
    </section>
    <a href="{{ url(article) }}" class="read-link">Read...</a>
  </section>
  <span class="article-date">{{ article.publish_date|date('F d, Y') }}</span>     
</section>  
  {% endif %}
{% endfor %}
<div class="recent-articles">  
{% for other in articles|slice(1,2) %}
  <section class="recent-article" style="background-image:url('{{other.images[0].image|imageSize(500)}}');" alt="{{other.images[0].alt_text}}"crossOrigin="anonymous">
    <section class="recent-article-details">
      <section class="article-title-block">
        <h2 class="title">{{ other.title }}</h2>
        <h3 class="subtitle">{{ other.subtitle }}</h3>
      </section>
      <a href="{{ url(other) }}" class="read-link">Read ...</a>
    </section>
    <span class="article-date">{{ other.publish_date|date('F d, Y') }}</span>     
  </section>
{% endfor %}
</div>
<section>
<article class="main-article">
  <p><strong>The type of device you're using is: <span id="phoneType"></span></strong></p>
  <section id="status"></section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis necessitatibus nam deserunt voluptatum fuga velit quis pariatur culpa expedita, quidem, dolorem, blanditiis atque reprehenderit. Doloremque quidem soluta commodi perferendis exercitationem.</p>
    <p>Quos enim accusamus dolorum ut soluta corporis modi facere fuga nisi mollitia, repudiandae natus dignissimos nesciunt, alias nihil architecto, rem aperiam suscipit sapiente. Assumenda praesentium nulla, dicta numquam adipisci cumque!</p>
    <p>Aliquid dolores expedita sequi maxime praesentium odio. Recusandae molestiae optio autem ducimus. Consequuntur iste, dolorum incidunt aperiam commodi enim sit ratione est, corporis vel ex, animi, illum iusto eius tempora.</p>
    <p>Eligendi impedit facere consectetur ratione, molestiae corporis! Quidem tempora tempore, pariatur natus exercitationem consequuntur non praesentium soluta, id ipsam adipisci temporibus, provident unde facilis delectus, quis aperiam reprehenderit voluptatem aliquam.</p>
    <p>Dolor itaque fugiat impedit accusamus, perferendis doloremque nihil sequi culpa beatae soluta sunt voluptatum alias id hic suscipit totam aspernatur ullam esse inventore quasi, enim nisi magnam placeat ut! Nihil.</p>
    <p>Culpa illum temporibus eveniet cum obcaecati, architecto rerum dolor nemo voluptatum nam tempore! Veniam aspernatur architecto, repellat non, optio quisquam eligendi ducimus, voluptatibus recusandae nesciunt officia quae sit ex porro.</p>
    <p>Nobis, omnis, suscipit. Harum molestiae non, est alias? Aliquid numquam aperiam sit fugiat laboriosam doloremque consequuntur dolore ducimus repellat unde expedita, facere rem deleniti pariatur dolorem ullam perspiciatis, magnam quam.</p>
    <p>Aperiam dolores quod consequatur facere saepe architecto qui cum veritatis aliquam repudiandae doloribus atque animi sunt facilis magnam, eos ab soluta, quas, debitis sint tenetur voluptatibus. Commodi cupiditate aperiam, quaerat.</p>
    <p>Repellendus esse consequuntur voluptatem, molestiae quam? Maiores accusamus, asperiores ut qui soluta, accusantium fugit blanditiis facere deserunt animi laudantium explicabo quo odit dolor, ducimus ipsa quasi ad ex! Culpa, sunt.</p>
  </section>
</article>
{% endblock %}
