{# http://www.webhook.com/docs/template-inheritance-blocks/ #} {% extends "templates/partials/base.html" %} {# This sets our page
<title>. It will append this testformkeepform's name to the site title defined in base.html #} {% block title %}{% parent %} - {{ cms.testformkeepform.name }}{% endblock %} {% block content %}
    <h1>{{ cms.testformkeepform.name }}</h1>
    <form class="contact-form" accept-charset="UTF-8" action="https://formkeep.com/f/27bbdc29d75f" method="POST">
        <h1 class="form-heading-1"><a href="#"><div class="close"></div></a>Contact Ryan</h1>
        <input class="material-form" type="hidden" name="utf8" value="✓">
        <input class="material-form" placeholder="Your Email" type="email" name="email" required="">
        <input class="material-form" placeholder="Your Name" type="text" name="name" required="">
        <input class="material-form" placeholder="Your Website" type="url" name="url" required="">
        <button class="form-button" type="submit">Submit</button>
    </form>
    <div class="contact"><a href="#" class="contactMe"></a></div>
    <h2>Wufoo:</h2>
    <div id="wufoo-zvjuns713lfz3e">
        Fill out my <a href="https://rdwatters.wufoo.com/forms/zvjuns713lfz3e">online form</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
    <script type="text/javascript">
    var zvjuns713lfz3e;
    (function(d, t) {
        var s = d.createElement(t),
            options = {
                'userName': 'rdwatters',
                'formHash': 'zvjuns713lfz3e',
                'autoResize': true,
                'height': '1467',
                'async': true,
                'host': 'wufoo.com',
                'header': 'show',
                'ssl': true
            };
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
            var rs = this.readyState;
            if (rs)
                if (rs != 'complete')
                    if (rs != 'loaded') return;
            try {
                zvjuns713lfz3e = new WufooForm();
                zvjuns713lfz3e.initialize(options);
                zvjuns713lfz3e.display();
            } catch (e) {}
        };
        var scr = d.getElementsByTagName(t)[0],
            par = scr.parentNode;
        par.insertBefore(s, scr);
    })(document, 'script');
    </script>
    <br>
    <h2>Jotform:</h2>
    <script type="text/javascript" src="http://form.jotform.us/jsform/50734978443162"></script>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt optio, eius, sed libero saepe placeat, incidunt culpa nulla tempora neque ipsam sapiente rem, odio dignissimos. Amet et veritatis cumque, nobis?</p>

    {% endblock %}
