{% extends "templates/partials/base.html" %}
{% block crp_block %}
      <style>
          {% include "templates/partials/crp-video-library.html" %}
      </style>
{% endblock %} 
{% block title %}Video Library{% endblock %}
{% block content %}
{% set videolibrary = cms.videolibrary %}
<article class="video-library">
    <h1>{{ videolibrary.name }}</h1>
    <section class="video-library-introduction">
    {{ videolibrary.introduction|markdown }}
    </section>

{% for row in videolibrary.list %}
    {% set ss = row.video.streaming_service %}
    {% if ss == 'YouTube' %}
    <article class="video-libary-section">
        <section class="list-article-video">
            <div class="video-player-youtube" data-youtubeid="{{row.video.video.original_url.split('v=')[1]}}">
                {% if row.video.thumbnail_override %}
                <img class="video-thumb" src="{{row.video.thumbnail_override|imageCrop(560,315)}}" alt="{{row.video.video_title}}"> 
                {% else %}
                <img class="video-thumb" src="{{row.video.video.thumbnail_url}}" alt="{{row.video.video_title}}"> 
                {% endif %}
                <div class="play-button" role="button">
                    <svg class="play-button-svg" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path id="play-button-inner-triangle" d="M52.881,14.708c-18.9,0-34.222,15.321-34.222,34.223c0,18.901,15.322,34.221,34.222,34.221  c18.901,0,34.224-15.32,34.224-34.221C87.104,30.03,71.782,14.708,52.881,14.708z M55.883,58.107L40.02,67.226l0.035-18.294  l0.034-18.296l15.828,9.176l15.828,9.178L55.883,58.107z" />
                    </svg>
                </div>
            </div>
        </section>
    </article>
        {% elseif ss == 'Vimeo' %}
    <article class="video-libary-section">
        <section class="list-article-video">
            <div class="video-player-vimeo" data-vimeoid="{{row.video.video.original_url.split('vimeo.com/')[1]}}">
                {% if row.video.thumbnail_override %}
                <img class="video-thumb" src="{{row.video.thumbnail_override|imageCrop(560,315)}}" alt="{{row.video.video_title}}">
                {% else %}
                <img class="video-thumb" src="{{row.video.video.thumbnail_url}}" alt="{{row.video.video_title}}" >              
                {% endif %}
                <div class="play-button" role="button">
                    <svg class="play-button-svg" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path id="play-button-inner-triangle" d="M52.881,14.708c-18.9,0-34.222,15.321-34.222,34.223c0,18.901,15.322,34.221,34.222,34.221  c18.901,0,34.224-15.32,34.224-34.221C87.104,30.03,71.782,14.708,52.881,14.708z M55.883,58.107L40.02,67.226l0.035-18.294  l0.034-18.296l15.828,9.176l15.828,9.178L55.883,58.107z" />
                    </svg>
                </div>
            </div>
        </section>
    </article>
    {% endif %}
{% endfor %} 
</article>
    
{% endblock %}