{% extends "templates/partials/base.html" %}
{% block crp_block %}
<style>
    {% include "templates/partials/crp-video-library.html" %}
</style>
{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="/static/css/cubeportfolio.css">
{% endblock %}
{% block content %}
{% set tags = cms.tags %}
{% set library = cms.videolibrary %}
{% set videolibrary = library.list %}
{% set videolibrary = paginate(videolibrary, 20) %}
{% set tags = cms.tags|sort('name',true)%}
<section class="information-header">
    <section class="introduction">
        <h1>{{ library.name }}</h1>
        <section class="description">{{ library.introduction|markdown }}</section>
    </section>
</section>

<article>
        <div id="filters-container" class="cbp-l-filters-buttonCenter">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                        All <div class="cbp-filter-counter"></div>
                    </div>
                    {% for tag in tags %}
                    {% set tagasclass = tag.slug.split('tags/')[1]%}
                    {% if tag.videos_tags.length > 0 %}
                    <div data-filter=".{{tagasclass}}" class="cbp-filter-item">
                        {{tag.name}} <span class="cbp-filter-counter-">
                            (<span class="cbp-filter-counter"></span>)
                        </span>
                    </div>
                    {% endif %}
                    {% endfor %}
        </div>

        <ul id="grid-container" class="cbp">
                {% for row in videolibrary %}
                {% if row.video.thumbnail_override %}
                    {% set thumb = row.video.thumbnail_override|imageCrop(500,375) %}
                {% else %}
                    {% set thumb = row.video.video.thumbnail_url %}
                {% endif %}
            <li class="cbp-item {%for tag in row.video.tags %}{{tag.slug.split('tags/')[1]}} {%endfor%}">
                <a href="{{url(row.video)}}" class="cbp-caption cbp-singlePageInline"
                   data-title="{{row.video.title}}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{thumb}}" alt="Thumbnail image for the video - {{row.video.title}}">
                                    <svg class="play-svg" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                        <path id="play-button-inner-triangle" d="M52.881,14.708c-18.9,0-34.222,15.321-34.222,34.223c0,18.901,15.322,34.221,34.222,34.221  c18.901,0,34.224-15.32,34.224-34.221C87.104,30.03,71.782,14.708,52.881,14.708z M55.883,58.107L40.02,67.226l0.035-18.294  l0.034-18.296l15.828,9.176l15.828,9.178L55.883,58.107z" />
                                    </svg>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="caption-body">
                                <div class="cbp-l-caption-title">{{row.video.video_title}}</div>
                                <div class="cbp-l-caption-desc">{{row.video.video.author_name}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div id="loadMore-container" class="cbp-l-loadMore-button">
            <a href="page-2/index.html" class="cbp-l-loadMore-link">
                <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
            </a>
        </div>

    </div>
</article>
{% endblock %}

{% block scripts_extra %}{% parent %}<script src="/static/javascript/jquery.cubeportfolio.min.js"></script>
<script>
(function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#grid-container').cubeportfolio({
        filters: '#filters-container',
        loadMore: '#loadMore-container',
        loadMoreAction: 'click',
        layoutMode: 'grid',
        mediaQueries: [{
            width: 1100,
            cols: 4
        }, {
            width: 800,
            cols: 3
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        defaultFilter: '*',
        animationType: 'rotateSides',
        gapHorizontal: 10,
        gapVertical: 10,
        gridAdjustment: 'responsive',
        caption: '',
        displayType: 'sequentially',
        displayTypeSpeed: 100,

        // lightbox
        lightboxDelegate: '.cbp-lightbox',
        lightboxGallery: true,
        lightboxTitleSrc: 'data-title',
        lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',

        // singlePageInline
        singlePageInlineDelegate: '.cbp-singlePageInline',
        singlePageInlinePosition: 'below',
        singlePageInlineInFocus: true,
        singlePageInlineCallback: function(url, element) {
            // to update singlePageInline content use the following method: this.updateSinglePageInline(yourContent)
            var t = this;

            $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    timeout: 5000
                })
                .done(function(result) {

                    t.updateSinglePageInline(result);

                })
                .fail(function() {
                    t.updateSinglePageInline("Error! Please refresh the page!");
                });
        },
    });

})(jQuery, window, document);



</script>
{% endblock %}