{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH images #}
{# This page can use any data from http:localhost:2000/cms/#/form/images/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this images's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('images') }}">View a list of all images</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <strong>Image: </strong>
        {# You can pull out a lot more information from the image property. Info here: #}
        {# http://www.webhook.com/docs/widget-template-reference/#image #}
        <img src="{{ item.image|imageSize(200, 200) }}" />
      </li>
      <li>
        <strong>Image Description: </strong>
        {{ item.image_description }}
      </li>
      <li>
        <strong>Alt Text: </strong>
        {{ item.alt_text }}
      </li>
      <li>
        <strong>Licensing: </strong>
        {# List the checkboxes available. Output their values. #}
        <ul>
          {% for option in item.licensing %}
            {# Output the values for every option. Alternatively, wrap this in an if statement to only show True values. #}
            <li>
              {{ option.label }}: {{ option.value }}
            </li>
          {% endfor%}
        </ul>
      </li>
      <li>
        <strong>Owner: </strong>
        {{ item.owner.first }} {{ item.owner.last }}
      </li>
      <li>
        <strong>Owner Website: </strong>
        {{ item.owner_website }}
      </li>
      <li>
        <strong>Articles (Article Image): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.articles_article_image %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ item.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ item.slug }}
      </li>
  </ul>
{% endblock %}
